@charset "UTF-8";
html {
  font-size: 1px;
}

body {
  font-family: "Pretendard", sans-serif;
}

nav, header, section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 1280px;
}

nav {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: sticky;
  top: 0;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0.95);
}
nav .navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60rem;
  height: 60px;
  width: 1200px;
  padding: 0 40rem;
  font-size: 16.5rem;
  font-weight: 300;
}
nav .navigation .mega-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navigation .mega-menu li {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
nav .navigation .mega-menu li .logo {
  display: block;
  line-height: 0;
  height: 40rem;
  width: 40rem;
  background-color: rgba(53, 99, 233, 0.6);
  border-radius: 20rem;
}
nav .navigation .mega-menu li .logo img {
  height: 40rem;
}
nav .navigation .mega-menu li .title {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
nav .navigation .mega-menu li .title:hover {
  cursor: pointer;
  color: rgb(53, 99, 233);
}
nav .navigation .mega-menu li .title.active {
  color: rgb(53, 99, 233);
  font-weight: 500;
}
nav .navigation .mega-menu li .dropdown-group {
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  padding: 9rem 0;
  border: 1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 9rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1rem 1rem 3rem 0rem rgba(0, 0, 0, 0.3);
}
nav .navigation .mega-menu li .dropdown-group a {
  display: block;
  padding: 6rem 21rem;
  font-size: 15rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
nav .navigation .mega-menu li .dropdown-group a.active {
  color: rgb(53, 99, 233);
  font-weight: 500;
}
nav .navigation .mega-menu li .dropdown-group a:hover {
  background-color: rgba(53, 99, 233, 0.15);
}
nav .navigation .mega-menu li .dropdown-group.show {
  display: block;
}
nav .navigation .function {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24rem;
}
nav .navigation .function .my-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
nav .navigation .function .my-container #my-menu {
  position: absolute;
  top: 96%;
  right: 0;
  width: -moz-max-content;
  width: max-content;
  padding: 9rem 0;
  border: 1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 9rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1rem 1rem 3rem 0rem rgba(0, 0, 0, 0.3);
}
nav .navigation .function .my-container #my-menu .list {
  display: block;
  padding: 6rem 21rem;
  font-size: 16.5rem;
  text-align: right;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
nav .navigation .function .my-container #my-menu .list.active {
  color: rgb(53, 99, 233);
  font-weight: 500;
}
nav .navigation .function .my-container #my-menu .list:hover {
  background-color: rgba(53, 99, 233, 0.15);
}
nav .navigation .function .my-container #my-menu .list.sign-out {
  cursor: pointer;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

header {
  height: 300rem;
  background-color: rgba(53, 99, 233, 0.45);
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header#h-index {
  background-image: url("../img/main/h-index.jpeg");
}
header#h-1-1 {
  background-image: url("../img/main/h-1-1.jpeg");
}
header#h-1-2 {
  background-image: url("../img/main/h-1-2.jpeg");
}
header#h-2-1 {
  background-image: url("../img/main/h-2-1.jpeg");
}
header#h-2-2 {
  background-image: url("../img/main/h-2-2.jpeg");
}
header#h-2-2-1 {
  background-image: url("../img/main/h-2-2-1.jpeg");
}
header#h-2-2-2 {
  background-image: url("../img/main/h-2-2-2.jpeg");
}
header#h-2-2-3 {
  background-image: url("../img/main/h-2-2-3.jpeg");
}
header#h-2-2-4 {
  background-image: url("../img/main/h-2-2-4.jpeg");
}
header#h-2-2-5 {
  background-image: url("../img/main/h-2-2-5.jpeg");
}
header#h-2-3 {
  background-image: url("../img/main/h-2-3.jpeg");
}
header#h-2-4 {
  background-image: url("../img/main/h-2-4.jpeg");
}
header#h-3-1 {
  background-image: url("../img/main/h-3-1.jpeg");
}
header#h-3-2 {
  background-image: url("../img/main/h-3-2.jpeg");
}
header#h-3-3 {
  background-image: url("../img/main/h-3-3.jpeg");
}
header#h-3-4 {
  background-image: url("../img/main/h-3-4.jpeg");
}
header#h-3-5 {
  background-image: url("../img/main/h-3-5.jpeg");
}

section#sticky-menu-container {
  position: sticky;
  top: 60rem;
  padding-bottom: 150rem;
}
section#sticky-menu-container .sticky-menu {
  padding: 6rem 0 24rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
section#sticky-menu-container .sticky-menu .btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60rem;
}

footer {
  background-color: rgb(53, 99, 233);
}
footer .content {
  padding: 15rem 40rem;
}
footer .content p.copyright {
  font-size: 16rem;
  font-weight: 300;
  text-align: center;
  color: white;
}

.content {
  overflow: hidden;
  width: 1200px;
  padding: 120rem 40rem;
  text-align: center;
}
.content .head1 {
  color: rgb(255, 255, 255);
  font-size: 45rem;
  font-weight: 700;
  text-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.75);
}
.content .head2 {
  font-size: 36rem;
  font-weight: 700;
}
.content .head3 {
  font-size: 24rem;
  font-weight: 600;
}
.content .para1 {
  font-size: 21rem;
  font-weight: 400;
  line-height: 27rem;
}
.content .para1 span {
  font-weight: 700;
}
.content .para2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 24rem;
}
.content .para2 span {
  font-weight: 600;
}
.content .para3 {
  font-size: 16.5rem;
  font-weight: 400;
  line-height: 21rem;
}
.content .para3 span {
  font-weight: 600;
}
.content .para4 {
  font-size: 15rem;
  font-weight: 300;
}

/* Module Starts (페이지 구성의 고유 요소들 묶음) */
.module-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60rem;
  text-align: left;
}
.module-1 .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.module-1 .part h2 {
  margin-bottom: 30rem;
}
.module-1 .part ul {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-left: 15rem;
}
.module-1 .part ul li {
  list-style-type: disc;
  list-style-position: outside;
}
.module-1 .part .btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30rem;
  gap: 24rem;
}
.module-1 .part img {
  border-radius: 15rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 360rem;
}
.module-1 .part .logo {
  height: 300rem;
  width: 100%;
  background-color: rgba(53, 99, 233, 0.15);
}

.module-2 h2 {
  margin-bottom: 30rem;
}
.module-2 .part-group {
  margin: 72rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60rem;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
}
.module-2 .part-group .part ul {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  margin-top: 15rem;
  padding-left: 18rem;
}
.module-2 .part-group .part ul li {
  list-style-type: disc;
  list-style-position: outside;
  width: -moz-fit-content;
  width: fit-content;
}

.module-3 {
  text-align: left;
}
.module-3 h2 {
  margin-bottom: 30rem;
}
.module-3 h3 {
  margin-top: 45rem;
}
.module-3 ul {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding-left: 18rem;
}
.module-3 ul li {
  list-style-type: disc;
  list-style-position: outside;
  width: -moz-fit-content;
  width: fit-content;
}
.module-3 table {
  width: 100%;
  margin: 12rem 0 30rem 0;
  font-size: 18rem;
  caption-side: bottom;
}
.module-3 table th, .module-3 table td {
  border: 1rem solid black;
  padding: 24rem 30rem;
  text-align: center;
  vertical-align: middle;
}
.module-3 table th ul, .module-3 table td ul {
  display: inline-flex;
}
.module-3 table thead th {
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.9);
}
.module-3 table tbody th {
  background-color: rgba(53, 99, 233, 0.15);
}
.module-3 table caption {
  padding-top: 6rem;
  font-size: 16.5rem;
  text-align: left;
  color: rgba(53, 99, 233, 0.75);
}
.module-3 table.table-even {
  table-layout: fixed;
}
.module-3 table#cost-table {
  font-size: 15rem;
}
.module-3 table#cost-table th, .module-3 table#cost-table td {
  padding: 3rem 0;
}
.module-3 table#cost-table caption {
  text-indent: -27rem;
  font-size: 15rem;
}
.module-3 table#cost-table caption ul {
  gap: 9rem;
  padding-left: 27rem;
}
.module-3 table#cost-table caption ul li {
  list-style: none;
}
.module-3 .img {
  width: 100%;
  height: 600rem;
  margin-bottom: 21rem;
  background-color: rgba(53, 99, 233, 0.15);
}

.module-4 {
  text-align: left;
}
.module-4 .img {
  display: inline-block;
  height: 90rem;
  width: 450rem;
  background-color: rgba(53, 99, 233, 0.15);
  margin-bottom: 45rem;
}
.module-4 .profile {
  display: grid;
  grid-gap: 60rem;
  grid-template-columns: repeat(2, 1fr);
}
.module-4 .profile .info-container .info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  list-style-type: disc;
  margin-bottom: 24rem;
  padding-left: 18rem;
}
.module-4 .photo {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(53, 99, 233, 0.15);
}
.module-4 .qna-group {
  display: flex;
  flex-direction: column;
  gap: 54rem;
  margin-top: 75rem;
}
.module-4 .qna-group .qna .answer {
  margin: 15rem 0 0 6rem;
  padding-left: 21rem;
  border-left: 6rem solid rgba(53, 99, 233, 0.3);
}

#history .calendar {
  display: flex;
  flex-direction: column;
  gap: 48rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 60rem auto 0 auto;
}
#history .calendar .year-group {
  display: flex;
  gap: 24rem;
}
#history .calendar .year-group h3.year {
  font-size: 27rem;
  font-weight: 600;
  color: rgb(53, 99, 233);
  width: 120rem;
  background-color: rgba(53, 99, 233, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
#history .calendar .year-group .month-group {
  display: flex;
  flex-direction: column;
  gap: 27rem;
  text-align: left;
}
#history .calendar .year-group .month-group .date-group {
  padding-bottom: 3rem;
}
#history .calendar .year-group .month-group .date-group h4.date {
  font-size: 18rem;
  font-weight: 500;
  color: rgba(53, 99, 233, 0.75);
}
#history .calendar .year-group .month-group .date-group .text-group {
  margin-top: 3rem;
}
#history .calendar .year-group .month-group .date-group .text-group p.text {
  font-size: 18rem;
  font-weight: 400;
}
#history .calendar .year-group .month-group .date-group .text-group p.detail {
  margin-top: 3rem;
  padding-left: 12rem;
  font-size: 15rem;
  font-weight: 300;
  text-indent: -10rem;
}

#before-sticky {
  padding-bottom: 60rem;
}

/* Module Ends */
/* Important */
.hide {
  display: none !important;
}

.first {
  background-color: rgb(255, 255, 255) !important;
}

.second {
  background-color: rgba(53, 99, 233, 0.05) !important;
}

.align-justify {
  text-align: justify !important;
}

/* Important Ends *//*# sourceMappingURL=basic.css.map */