@charset "UTF-8";
html {
  font-size: 1px;
}

body {
  font-family: "Pretendard", sans-serif;
}

* .head1 {
  color: rgb(255, 255, 255);
  font-size: 48rem;
  font-weight: 700;
  text-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.9);
}
* .head2 {
  font-size: 36rem;
  font-weight: 700;
}
* .head3 {
  font-size: 24rem;
  font-weight: 600;
}
* .head4 {
  font-size: 21rem;
  font-weight: 600;
}
* .para1 {
  font-size: 21rem;
  font-weight: 400;
  line-height: 27rem;
}
* .para1 span {
  font-weight: 700;
}
* .para2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 24rem;
}
* .para2 span {
  font-weight: 600;
}
* .para3 {
  font-size: 16.5rem;
  font-weight: 400;
  line-height: 21rem;
}
* .para3 span {
  font-weight: 600;
}
* .para4 {
  font-size: 15rem;
  font-weight: 300;
}
* .para4 span {
  font-weight: 500;
}

header, .main-title, section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 1280px;
}

header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: sticky;
  top: 0;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0.95);
}
header nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 75rem;
  height: 60px;
  width: 1200px;
  padding: 0 40rem;
  font-size: 16.5rem !important;
  font-weight: 300 !important;
}
header nav .mega-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .mega-menu li {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
header nav .mega-menu li .logo {
  display: block;
}
header nav .mega-menu li .logo img {
  height: 21rem;
  width: 100%;
}
header nav .mega-menu li .title {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
header nav .mega-menu li .title:hover {
  cursor: pointer;
  color: rgb(53, 99, 233);
}
header nav .mega-menu li .title.active {
  color: rgb(53, 99, 233);
  font-weight: 500;
}
header nav .mega-menu li .menu-drop {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  padding: 9rem 0;
  border: 1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 9rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1rem 1rem 3rem 0rem rgba(0, 0, 0, 0.3);
}
header nav .mega-menu li .menu-drop li {
  display: block;
}
header nav .mega-menu li .menu-drop li a {
  display: block;
  padding: 6rem 21rem;
  font-size: 15rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
header nav .mega-menu li .menu-drop li a.active {
  color: rgb(53, 99, 233);
  font-weight: 500;
}
header nav .mega-menu li .menu-drop li a:hover {
  background-color: rgba(53, 99, 233, 0.15);
}
header nav .function {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24rem;
}
header nav .function .my-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
header nav .function .my-container #my-menu {
  position: absolute;
  top: 96%;
  right: 0;
  width: -moz-max-content;
  width: max-content;
  padding: 9rem 0;
  border: 1rem solid rgba(0, 0, 0, 0.15);
  border-radius: 9rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1rem 1rem 3rem 0rem rgba(0, 0, 0, 0.3);
}
header nav .function .my-container #my-menu a {
  display: block;
  padding: 6rem 21rem;
  font-size: 15rem;
  text-align: right;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.45);
}
header nav .function .my-container #my-menu a.active {
  color: rgb(53, 99, 233);
  font-weight: 500;
}
header nav .function .my-container #my-menu a:hover {
  background-color: rgba(53, 99, 233, 0.15);
}
header nav .function .my-container #my-menu a.sign-out {
  font-weight: 500;
  color: rgb(255, 0, 0);
}

main .main-title {
  height: 600rem;
  background-color: rgba(53, 99, 233, 0.45);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1.2rem;
}
main .main-title#h-1-1 {
  background-image: url("../img/cover/1-1-h.jpg");
  background-color: rgba(21, 9, 64, 0.5);
  background-blend-mode: overlay;
}
main .main-title#h-1-2 {
  background-image: url("../img/cover/1-2-h.jpg");
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: overlay;
}
main .main-title#h-2-1 {
  background-image: url("../img/cover/2-1-h.jpg");
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: overlay;
}
main .main-title#h-2-2 {
  background-image: url("../img/cover/2-2-h.jpg");
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: overlay;
}
main .main-title#h-2-3 {
  background-image: url("../img/cover/2-3-h.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
main .main-title#h-3-1 {
  background-image: url("../img/cover/3-1-h.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
main .main-title#h-3-2 {
  background-image: url("../img/cover/3-2-h.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
main .main-title#h-3-3 {
  background-image: url("../img/cover/3-3-h.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
main .main-title#h-3-4 {
  background-image: url("../img/cover/3-4-h.jpg");
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: overlay;
}
main .main-title#h-4-1 {
  background-image: url("../img/cover/4-1-h.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}
main section#sticky-menu-container {
  position: fixed;
  bottom: 0;
  box-shadow: 0 6rem 6rem 6rem rgba(0, 0, 0, 0.15);
}
main section#sticky-menu-container .sticky-menu {
  padding: 21rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
main section#sticky-menu-container .sticky-menu .btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30rem;
}
main .content {
  width: 1200px;
  padding: 90rem 40rem;
  text-align: left;
  /* Module Starts (페이지 구성의 고유 요소들 묶음) */
  /* Module Ends */
}
main .content .source {
  margin-top: 12rem;
  font-size: 16.5rem;
  text-align: left;
  color: rgba(53, 99, 233, 0.75);
}
main .content.module-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75rem;
}
main .content.module-1 .part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .content.module-1 .part .head2 {
  margin-bottom: 21rem;
}
main .content.module-1 .part .head3 {
  margin-bottom: 15rem;
}
main .content.module-1 .part ul {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-left: 15rem;
}
main .content.module-1 .part ul li {
  list-style-type: disc;
  list-style-position: outside;
}
main .content.module-1 .part .btn-group {
  margin-top: 42rem;
}
main .content.module-1 .part img {
  border-radius: 15rem;
  height: 330rem;
  width: 100%;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content.module-1 .part .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 45rem 0rem;
}
main .content.module-1 .part .logo img {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}
main .content#partner {
  text-align: left;
  padding-top: 0;
}
main .content#partner .part1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45rem;
}
main .content#partner .part1 .item .head3 {
  margin-bottom: 12rem;
}
main .content#partner .part1 .item .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12rem;
  height: 240rem;
  border: 1rem solid rgba(0, 0, 0, 0.15);
  transition: 0.1s;
}
main .content#partner .part1 .item .img-container img {
  height: 150rem;
  width: -moz-fit-content;
  width: fit-content;
}
main .content#partner .part1 .item .img-container img#cabei {
  height: 135rem;
}
main .content#partner .part1 .item .img-container:hover {
  opacity: 0.6;
}
main .content#partner .part2 {
  margin-top: 60rem;
}
main .content#partner .part2 .head3 {
  margin-bottom: 12rem;
}
main .content#partner .part2 .img-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 45rem;
       column-gap: 45rem;
  row-gap: 36rem;
}
main .content#partner .part2 .img-group .img-container {
  display: flex;
  align-items: center;
  transition: 0.1s;
  border: 1rem solid rgba(0, 0, 0, 0.15);
  padding: 18rem;
  height: 120rem;
}
main .content#partner .part2 .img-group .img-container img {
  width: 100%;
}
main .content#partner .part2 .img-group .img-container:hover {
  opacity: 0.6;
}
main .content.module-2 .head2 {
  margin-bottom: 45rem;
}
main .content.module-2 .head3 {
  margin-bottom: 15rem;
}
main .content.module-2 ul {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding-left: 18rem;
}
main .content.module-2 ul li {
  list-style-type: disc;
  list-style-position: outside;
  width: -moz-fit-content;
  width: fit-content;
}
main .content.module-2 table {
  width: 100%;
  font-size: 18rem;
  caption-side: bottom;
}
main .content.module-2 table th, main .content.module-2 table td {
  border: 1rem solid black;
  padding: 18rem 21rem;
  text-align: center;
  vertical-align: middle;
}
main .content.module-2 table th ul, main .content.module-2 table td ul {
  display: inline-flex;
}
main .content.module-2 table thead th {
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.9);
}
main .content.module-2 table tbody th {
  background-color: rgba(53, 99, 233, 0.15);
}
main .content.module-2 table.table-even {
  table-layout: fixed;
}
main .content.module-2 table#table-1 {
  margin: 30rem 0;
}
main .content.module-2 table#table-2 {
  margin-top: 30rem;
}
main .content.module-2 table#table-3 {
  margin-top: 45rem;
}
main .content.module-2 #signing {
  margin-top: 75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45rem;
}
main .content.module-2 #signing .head3 {
  margin-bottom: 12rem;
}
main .content.module-2 #signing .img-container img {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
main .content.module-2 #signing .img-container .para3 {
  margin-top: 6rem;
}
main .content.module-2 #per-country .country-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 45rem;
       column-gap: 45rem;
  row-gap: 30rem;
}
main .content.module-2 #per-country .country-item .country .head3 {
  margin: 0;
}
main .content.module-2 #per-country .country-item .country .img-container {
  display: flex;
  gap: 18rem;
  align-items: center;
  margin-top: 6rem;
}
main .content.module-2 #per-country .country-item .country .img-container img {
  height: -moz-fit-content;
  height: fit-content;
  width: 165rem;
  border: 1rem solid rgba(0, 0, 0, 0.3);
}
main .content.module-2 #per-country .country-item .country .img-container ul {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  padding-left: 0;
}
main .content.module-2 #per-country .country-item .country .img-container ul li {
  list-style-type: none;
}
main .content.module-2 #country-profile {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60rem;
  margin-top: 30rem;
  padding: 45rem;
  background-color: rgba(0, 0, 0, 0.05);
}
main .content.module-2 #country-profile img {
  height: 100%;
  width: 100%;
}
main .content.module-2 #fta-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45rem;
  background-color: rgb(255, 255, 255);
}
main .content.module-2 #fta-partners #img-2 {
  margin-top: 30rem;
  width: 990rem;
  height: 100%;
  background-color: rgba(53, 99, 233, 0.15);
}
main .content.module-2 #maritime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60rem;
  margin-bottom: 30rem;
}
main .content.module-2 #maritime .img-container img {
  width: 100%;
}
main .content.module-2 #shipping {
  margin-top: 60rem;
}
main .content.module-2 #shipping .img-container {
  margin-bottom: 30rem;
}
main .content.module-2 #shipping .img-container #img-4 {
  height: 100%;
  width: 1200rem;
  max-width: 1200rem;
}
main .content.module-2 #shipping #btn-group-dn-1 {
  margin-top: 75rem;
  display: flex;
  justify-content: center;
}
main .content.module-3 {
  text-align: center;
}
main .content.module-3 .logo {
  height: 100%;
  width: 300rem;
  background-color: rgba(53, 99, 233, 0.15);
  margin-bottom: 60rem;
}
main .content.module-3 .img-group {
  margin-top: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45rem;
}
main .content.module-3 .img-group .img {
  background-color: rgba(53, 99, 233, 0.15);
}
main .content.module-3 .img-group img {
  height: 100%;
  width: 100%;
}
main .content.module-3 .interview-group {
  display: flex;
  flex-direction: column;
  gap: 60rem;
  margin-top: 75rem;
  text-align: left;
}
main .content.module-3 .interview-group .interview .question {
  padding-left: 28rem;
  text-indent: -28rem;
}
main .content.module-3 .interview-group .interview .answer {
  margin: 15rem 0 0 30rem;
  padding-left: 15rem;
  border-left: 6rem solid rgba(0, 0, 0, 0.15);
}
main .content.module-3 .info-container {
  margin-top: 75rem;
  text-align: left;
}
main .content.module-3 .info-container .info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 18rem;
  padding-left: 18rem;
  text-align: left;
  list-style-type: disc;
}
main .content#history .head2 {
  margin-bottom: 60rem;
}
main .content#history .bb-history .item-group {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}
main .content#history .bb-history .item-group .item {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
main .content#history .bb-history .item-group .item .question {
  display: flex;
  padding: 30rem;
  font-size: 18rem;
  font-weight: 600;
}
main .content#history .bb-history .item-group .item .question .date {
  width: 180rem;
}
main .content#history .bb-history .item-group .item .answer {
  margin: 0 0 0 202rem;
  padding: 24rem 24rem 24rem 6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16.5rem;
  font-weight: 400;
  line-height: 27rem;
}
main .content#market .head2 {
  margin-bottom: 60rem;
}
main .content#market .bb-market .item-group {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
main .content#market .bb-market .item-group details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
  box-shadow: 0 0 0 6rem rgba(53, 99, 233, 0.15) inset;
}
main .content#market .bb-market .item-group details:not([open]) {
  box-shadow: 0 0 0 0;
}
main .content#market .bb-market .item-group details summary {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  gap: 45rem;
  align-items: center;
  padding: 45rem;
}
main .content#market .bb-market .item-group details summary:hover {
  background-color: rgba(53, 99, 233, 0.05);
}
main .content#market .bb-market .item-group details summary .thumb {
  height: 100%;
  width: 420rem;
  min-width: 420rem;
}
main .content#market .bb-market .item-group details summary .info-container .head2 {
  margin-bottom: 15rem;
}
main .content#market .bb-market .item-group details .detail-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 45rem;
  margin: 0 45rem;
  padding: 45rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
main .content#market .bb-market .item-group details .detail-group .detail .title-container {
  margin-bottom: 9rem;
}
main .content#market .bb-market .item-group details .detail-group .detail .title-container .title {
  margin-bottom: 3rem;
  font-size: 27rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}
main .content#market .bb-market .item-group details .detail-group .detail .title-container .code {
  font-size: 16.5rem;
  font-weight: 400;
}
main .content#market .bb-market .item-group details .detail-group .detail .thumb {
  border: 1rem solid rgba(0, 0, 0, 0.15);
}
main .content#market .bb-market .item-group details .detail-group .detail .thumb img {
  height: 210rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content#lecture .head2 {
  margin-bottom: 45rem;
}
main .content#lecture .bb-lecture .item-group {
  display: flex;
  flex-direction: column;
  gap: 45rem;
}
main .content#lecture .bb-lecture .item-group .item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: rgb(0, 0, 0);
}
main .content#lecture .bb-lecture .item-group .item .thumb {
  height: 210rem;
  min-width: 330rem;
  transition: 0.1s;
  border: 1rem solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
main .content#lecture .bb-lecture .item-group .item .thumb:hover {
  opacity: 0.6;
}
main .content#lecture .bb-lecture .item-group .item .thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
main .content#lecture .bb-lecture .item-group .item .info {
  padding: 27rem 36rem;
  text-align: left;
}
main .content#lecture .bb-lecture .item-group .item .info .title {
  margin-bottom: 18rem;
  font-size: 21rem;
  font-weight: 600;
  line-height: 24rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
main .content#lecture .bb-lecture .item-group .item .info .title .sector {
  border-right: 1rem solid rgba(0, 0, 0, 0.3);
  margin-right: 12rem;
  padding-right: 12rem;
}
main .content#lecture .bb-lecture .item-group .item .info .des {
  font-size: 16.5rem;
  font-weight: 300;
  line-height: 21rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
main .content#lecture .bb-lecture .item-group .item .info .down {
  margin-top: 12rem;
}
main .content#publication .head2 {
  margin-bottom: 45rem;
}
main .content#publication .bb-publication .item-group {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
main .content#publication .bb-publication .item-group details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
  box-shadow: 0 0 0 6rem rgba(53, 99, 233, 0.15) inset;
}
main .content#publication .bb-publication .item-group details:not([open]) {
  box-shadow: 0 0 0 0;
}
main .content#publication .bb-publication .item-group details summary {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 30rem;
}
main .content#publication .bb-publication .item-group details summary:hover {
  background-color: rgba(53, 99, 233, 0.05);
}
main .content#publication .bb-publication .item-group details summary .title-container {
  display: grid;
  grid-template-columns: 1fr 15fr 2.5fr;
  font-size: 18rem;
  font-weight: 600;
}
main .content#publication .bb-publication .item-group details summary .title-container .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
main .content#publication .bb-publication .item-group details summary .title-container .date {
  text-align: right;
  font-weight: 300;
}
main .content#publication .bb-publication .item-group details .detail-container {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0 30rem 0 90rem;
  padding: 30rem 0rem;
}
main .content#publication .bb-publication .item-group details .detail-container .detail {
  font-size: 16.5rem;
  font-weight: 400;
  line-height: 24rem;
}
main .content#publication .bb-publication .item-group details .detail-container .down {
  margin-top: 24rem;
}
main .content#events .head2 {
  margin-bottom: 60rem;
}
main .content#events .bb-events {
  display: flex;
  gap: 75rem;
}
main .content#events .bb-events .filter-group {
  min-width: -moz-max-content;
  min-width: max-content;
}
main .content#events .bb-events .filter-group .filter {
  text-align: left;
}
main .content#events .bb-events .filter-group .filter .title {
  margin-bottom: 9rem;
  font-size: 18rem;
  font-weight: 600;
}
main .content#events .bb-events .filter-group .filter .check-group {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
}
main .content#events .bb-events .filter-group .filter .check-group .check label {
  padding: 6rem 0;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 15rem;
}
main .content#events .bb-events .filter-group .filter .check-group .check label:hover {
  text-decoration: underline;
  text-underline-offset: 4rem;
}
main .content#events .bb-events .filter-group .filter .check-group .check label input {
  cursor: pointer;
  margin: 0 9rem 0 0;
  height: 18rem;
  width: 18rem;
}
main .content#events .bb-events .filter-group hr {
  margin: 33rem 0;
  border-color: rgba(0, 0, 0, 0.15);
}
main .content#events .bb-events .item-group {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
main .content#events .bb-events .item-group details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
  box-shadow: 0 0 0 6rem rgba(53, 99, 233, 0.15) inset;
}
main .content#events .bb-events .item-group details:not([open]) {
  box-shadow: 0 0 0 0;
}
main .content#events .bb-events .item-group details summary {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  gap: 30rem;
  padding: 30rem;
}
main .content#events .bb-events .item-group details summary:hover {
  background-color: rgba(53, 99, 233, 0.05);
}
main .content#events .bb-events .item-group details summary .thumb {
  height: 90rem;
  width: 160rem;
  min-width: 160rem;
  border: 1rem solid rgba(0, 0, 0, 0.15);
}
main .content#events .bb-events .item-group details summary .thumb img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content#events .bb-events .item-group details summary .title-container .title {
  margin-bottom: 12rem;
  font-size: 21rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
main .content#events .bb-events .item-group details summary .title-container .info-container {
  display: flex;
  gap: 45rem;
}
main .content#events .bb-events .item-group details summary .title-container .info-container .info-1 {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
main .content#events .bb-events .item-group details summary .title-container .info-container .container {
  display: flex;
}
main .content#events .bb-events .item-group details summary .title-container .info-container .container .icon {
  height: 18rem;
  width: 18rem;
  margin-right: 9rem;
  opacity: 0.4;
}
main .content#events .bb-events .item-group details summary .title-container .info-container .container .date, main .content#events .bb-events .item-group details summary .title-container .info-container .container .location, main .content#events .bb-events .item-group details summary .title-container .info-container .container .sector {
  font-size: 15rem;
  font-weight: 300;
  line-height: 21rem;
  margin-top: -1rem;
}
main .content#events .bb-events .item-group details .detail-container {
  margin: 0 30rem;
  padding: 30rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
main .content#events .bb-events .item-group details .detail-container .detail {
  font-size: 16.5rem;
  font-weight: 400;
  line-height: 24rem;
}
main .content#events .bb-events .item-group details .detail-container .btn-group {
  margin-top: 18rem;
}
main .content#related .head2 {
  margin-bottom: 45rem;
}
main .content#related .bb-related .item-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45rem;
}
main .content#related .bb-related .item-group .item {
  padding: 30rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
main .content#related .bb-related .item-group .item:hover {
  opacity: 0.6;
}
main .content#related .bb-related .item-group .item:hover .title {
  text-decoration: underline;
  text-underline-offset: 3rem;
}
main .content#related .bb-related .item-group .item .img-container {
  height: 135rem;
  display: flex;
  align-items: center;
}
main .content#related .bb-related .item-group .item .img-container img {
  width: 100%;
}
main .content#related .bb-related .item-group .item .title {
  margin-top: 18rem;
  font-size: 18rem;
  font-weight: 500;
}
main .content#faq .bb-faq .item-group {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
main .content#faq .bb-faq .item-group details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
  box-shadow: 0 0 0 6rem rgba(53, 99, 233, 0.15) inset;
}
main .content#faq .bb-faq .item-group details:not([open]) {
  box-shadow: 0 0 0 0;
}
main .content#faq .bb-faq .item-group details .question {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: block;
  padding: 30rem 30rem 30rem 60rem;
  font-size: 18rem;
  font-weight: 600;
  text-indent: -30rem;
}
main .content#faq .bb-faq .item-group details .question:hover {
  background-color: rgba(53, 99, 233, 0.05);
}
main .content#faq .bb-faq .item-group details .question .head {
  margin-right: 12rem;
}
main .content#faq .bb-faq .item-group details .answer {
  margin: 0 30rem 0 60rem;
  padding: 30rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 16.5rem;
  font-weight: 400;
  line-height: 24rem;
}
main .content.module-4 .head2 {
  margin-bottom: 60rem;
}
main .content.module-4 .head3 {
  margin-top: 45rem;
  margin-bottom: 15rem;
  line-height: 24rem;
}
main .content.module-4 .head4 {
  margin-top: 30rem;
  margin-bottom: 12rem;
  margin-left: 45rem;
}
main .content.module-4 .para {
  margin-left: 45rem;
  font-size: 15rem;
  font-weight: 300;
}
main .content.module-4 .para .bold {
  font-weight: 600;
}
main .content.module-4 .para .email {
  color: rgb(53, 99, 233);
  text-underline-offset: 4rem;
}
main .content.module-5 {
  padding-top: 18rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .content.module-5 .head2 {
  margin-bottom: 30rem;
}
main .content.module-5 .btn-group-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45rem;
  width: -moz-fit-content;
  width: fit-content;
}
main .content.module-5 .btn-group-2 img {
  border: 1px solid red;
  width: 105rem;
  height: 105rem;
}

footer {
  background-color: rgb(53, 99, 233);
}
footer .content {
  width: 1200px;
  padding: 18rem 40rem;
  display: flex;
  justify-content: space-between;
}
footer .content .copyright {
  font-size: 16.5rem;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
}
footer .content .footer-menu {
  display: flex;
  gap: 45rem;
  font-size: 16.5rem;
  font-weight: 300;
}
footer .content .footer-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .content .footer-menu a:hover {
  opacity: 0.6;
  text-decoration: underline;
  text-underline-offset: 4rem;
}
footer#success .content {
  padding: 15rem 40rem 105rem 40rem;
}

.to-top {
  cursor: pointer;
  position: fixed;
  bottom: 60rem;
  right: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60rem;
  height: 60rem;
  border-radius: 60rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1rem 1rem 3rem 1rem rgba(0, 0, 0, 0.45);
}
.to-top img {
  width: 30rem;
  height: 100%;
}
/* Important */
.hide {
  display: none !important;
}

.first {
  background-color: rgb(255, 255, 255) !important;
}

.second {
  background-color: rgba(53, 99, 233, 0.05) !important;
}

.align-justify {
  text-align: justify !important;
}

/* Important Ends */
.slider {
  position: relative;
}
.slider .imageSlides {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60rem;
  width: 100%;
  min-width: 1280px;
  height: 100vh;
  min-height: 750rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .imageSlides.fade {
  animation-name: fade;
  animation-duration: 0.75s;
}
@keyframes fade {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
.slider .imageSlides .title-container {
  width: 1200px;
  padding: 0 40rem;
  text-align: left;
  color: rgb(255, 255, 255);
}
.slider .imageSlides .title-container .title {
  font-size: 54rem;
  font-weight: 700;
  line-height: 57rem;
  margin-bottom: 48rem;
  text-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.75);
}
.slider .imageSlides .title-container .sentence {
  font-size: 30rem;
  font-weight: 400;
  line-height: 39rem;
  text-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.75);
}
.slider .imageSlides#h-index1 {
  background-color: rgba(21, 9, 64, 0.5);
  background-blend-mode: overlay;
  background-image: url("../img/cover/index-h1.jpg");
}
.slider .imageSlides#h-index2 {
  background-color: rgba(21, 9, 64, 0.6);
  background-blend-mode: overlay;
  background-image: url("../img/cover/index-h2.jpg");
}
.slider .imageSlides#h-index3 {
  background-color: rgba(21, 9, 64, 0.6);
  background-blend-mode: overlay;
  background-image: url("../img/cover/index-h3.jpg");
}
.slider .controller {
  position: absolute;
  bottom: 60rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  gap: 45rem;
}
.slider .controller .arrow {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 75rem;
  height: 30rem;
  line-height: 21rem;
  color: rgba(255, 255, 255, 0.6);
}
.slider .controller .arrow:hover {
  opacity: 0.75;
}
.slider .controller .circle-group {
  display: flex;
  gap: 30rem;
}
.slider .controller .circle-group .circle {
  height: 15rem;
  width: 15rem;
  border: 2rem solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: 0.15s ease-in-out;
}
.slider .controller .circle-group .dot {
  border: 2rem solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.45);
}/*# sourceMappingURL=basic.css.map */