$color-w1: rgba(255, 255, 255, 1);
$color-w2: rgba(255, 255, 255, 0.95);
$color-w3: rgba(255, 255, 255, 0.75);
$color-w4: rgba(255, 255, 255, 0.6);
$color-w5: rgba(255, 255, 255, 0.45);
$color-w6: rgba(255, 255, 255, 0.3);
$color-w7: rgba(255, 255, 255, 0.15);
$color-w8: rgba(255, 255, 255, 0.05);

$color-k1: rgba(0, 0, 0, 1);
$color-k2: rgba(0, 0, 0, 0.9);
$color-k3: rgba(0, 0, 0, 0.75);
$color-k4: rgba(0, 0, 0, 0.6);
$color-k5: rgba(0, 0, 0, 0.45);
$color-k6: rgba(0, 0, 0, 0.3);
$color-k7: rgba(0, 0, 0, 0.15);
$color-k8: rgba(0, 0, 0, 0.05);
$color-k9: rgba(0, 0, 0, 0.03);

$color-m1: rgba(58, 81, 159, 1);
$color-m2: rgba(58, 81, 159, 0.9);
$color-m3: rgba(58, 81, 159, 0.75);
$color-m4: rgba(58, 81, 159, 0.6);
$color-m5: rgba(58, 81, 159, 0.45);
$color-m6: rgba(58, 81, 159, 0.3);
$color-m7: rgba(58, 81, 159, 0.15);
$color-m8: rgba(58, 81, 159, 0.05);

$color-r1: rgba(255, 0, 0, 1);
$color-r2: rgba(255, 0, 0, 0.9);
$color-r3: rgba(255, 0, 0, 0.75);
$color-r4: rgba(255, 0, 0, 0.6);
$color-r5: rgba(255, 0, 0, 0.45);
$color-r6: rgba(255, 0, 0, 0.3);
$color-r7: rgba(255, 0, 0, 0.15);
$color-r8: rgba(255, 0, 0, 0.05);

$fs-menu1: 16.5rem; // 메뉴1 폰트 사이즈
$fw-menu1: 300; // 메뉴1 폰트 웨이트1 (일반)
$fs-menu2: 15rem; // 드롭 메뉴 폰트 사이즈
$fw-menu2: 300; // 드롭 메뉴 폰트 웨이트2
$fw-menu-active: 500; // 메뉴 active 폰트 웨이트

html {
  font-size: 1px; //rem 사용
}
body {
  font-family: 'Pretendard', sans-serif;
}
* {
  .title1 { // Main Title
    color: $color-w1;
    font-size: 48rem; font-weight: 700;
    text-shadow: 3rem 3rem 3rem $color-k2;
  }
  .title2 { // Main Page, Market Information
    font-size: 36rem; font-weight: 700;
    .sub-title {
      margin-left: 21rem;
      font-size: 21rem; font-weight: 300;
    }
  }
  .title3 {
    font-size: 27rem; font-weight: 600;
  }
  .title4 {
    font-size: 21rem; font-weight: 600;
  }
  .title5 {
    font-size: 18rem; font-weight: 600;
  }
  
  .para1 {
    font-size: 21rem; font-weight: 400; line-height: 27rem;
    span {
      font-weight: 700;
    }
  }
  .para2 {
    font-size: 18rem; font-weight: 400; line-height: 24rem; 
    span {
      font-weight: 600;
    }
  }
  .para3 {
    font-size: 16.5rem; font-weight: 400; line-height: 21rem;
    span {
      font-weight: 600;
    }
  }
  .para4 { // Detail parts of History
    font-size: 15rem; font-weight: 300;
    span {
      font-weight: 500;
    }
  }
}

header, .main-title, section, footer { // Same level
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
  width: 100%; min-width: 1280px;
}

header {
  user-select: none;
  position: sticky;
  top: 0; z-index: 998;
  background-color: $color-w2;
  nav { // Same level with the one of '.content'
    display: flex; justify-content: space-between;
    height: 60px; width: 1200px;
    padding: 0 40rem;
    font-size: $fs-menu1 !important; font-weight: $fw-menu1 !important;

    .logo {
      display: flex; align-items: center;
      img {
        height: 42rem; width: 100%;
      }
    }
    .menu-drop-container {
      position: relative;
      .title {
        height: 30rem;
      }
      .menu-drop {
        display: none;
        position: absolute; top: 30rem; left: 50%; transform: translateX(-50%);
        width: max-content;
        padding: 9rem 0;
        border: 1rem solid $color-k7;
        border-radius: 9rem;
        background-color: $color-w1;
        box-shadow: 1rem 1rem 3rem 0rem $color-k6;
        li {
          a {
            display: block;
            padding: 6rem 21rem;
            font-size: $fs-menu2;
            text-decoration: none;
            color: $color-k5;
            &.active {
              color: $color-m1;
              font-weight: $fw-menu-active;
            }
            &:hover {
              background-color: $color-m7;
            }
          }
          #p-sign-out {
            font-weight: 500;
            color: $color-r1;
          }
        }
      }
      &:hover {
        .title {
          color: $color-m1;
        }
        .menu-drop {
          display: block;
        }
      }
    }
    #my {
      .title {
        border-radius: 12rem;
        display: flex; align-items: center; justify-content: center;
        height: 45rem; width: 45rem;
        img {
          display: block;
          height: 30rem;
          padding: 6rem 0;
        }
      }
      .menu-drop {
        top: 45rem;
      }
      &:hover {
        .title {
          background-color: $color-m8;
        }
      }
    }
    .ele-container {
      display: flex; align-items: center;
      li {
        .title {
          display: flex; align-items: center;
          text-decoration: none;  
          color: $color-k5;
          &:hover {
            color: $color-m1;
          }
          &.active {
            color: $color-m1;
            font-weight: $fw-menu-active;
          }
        }
      }
      &.public {
        gap: 36rem;
      }
      &.admin {
        width: 100%;
        justify-content: space-between;
      }
      &.function {
        gap: 27rem;
      }
    }
    
  }
}

main {
  .slider {
    position: relative;
    margin-top: -60rem;
    width: 100%; min-width: 1280px;
    display: flex; justify-content: center; align-items: center;

    .imageSlides {
      user-select: none;
      display: flex; align-items: center; justify-content: center;
      height: 100vh; min-height: 750rem;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &.fade {
        animation-name: fade;
        animation-duration: 0.75s;
        @keyframes fade {
          from {opacity: .75}
          to {opacity: 1}
        }
      }
    
      .title-container {
        width: 1200px;
        padding: 0 40rem;
        text-align: left;
        color: $color-w1;
        .title {
          font-size: 54rem; font-weight: 700; line-height: 57rem;
          margin-bottom: 48rem;
          text-shadow: 3rem 3rem 3rem $color-k3;
        }
        .sentence {
          font-size: 30rem; font-weight: 400; line-height: 39rem;
          text-shadow: 2rem 2rem 2rem $color-k3;
        }
      }
  
      &#h-index1 {
        background-color: rgba(21, 9, 64, 0.5);
        background-blend-mode: overlay;
        background-image: url('../img/cover/index-h1.jpg');
      }
      &#h-index2 {
        background-color: rgba(21, 9, 64, 0.6);
        background-blend-mode: overlay;
        background-image: url('../img/cover/index-h2.jpg');
      }
      &#h-index3 {
        background-color: rgba(21, 9, 64, 0.6);
        background-blend-mode: overlay;
        background-image: url('../img/cover/index-h3.jpg');
      }
    }

    .controller {
      position: absolute; bottom: 60rem;
      display: flex; align-items: center; gap: 45rem;
      justify-content: center;
      width: 1200px;
      padding: 0 40rem;
      .arrow {
        display: inline-block;
        cursor: pointer;
        user-select: none;
        font-size: 75rem; height: 30rem; line-height: 21rem;
        color: $color-w4;
        &:hover {
          opacity: 0.75;
        }
      }
      .circle-group {
        display: flex; gap: 30rem;
        .circle {
          height: 15rem; width: 15rem;
          border: 2rem solid $color-w4;
          border-radius: 50%;
          transition: 0.15s ease-in-out;
        }
        .dot {
          border: 2rem solid $color-w1;
          background-color: $color-w5;
        }
      }
    }
  }
  .main-title {
    height: 600rem;
    background-color: $color-m5;
    // background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 1.2rem;

    &#h-1-1 {
      background-image: url('../img/cover/1-1-h.jpg');
      background-color: rgba(21, 9, 64, 0.5);
      background-blend-mode: overlay;
      
    }
    &#h-1-2 {
      background-image: url('../img/cover/1-2-h.jpg');
      background-color: rgba(0, 0, 0, 0.45);
      // background-color: rgba(21, 9, 64, 0.6);
      background-blend-mode: overlay;
    }
    &#h-2-1 {
      background-image: url('../img/cover/2-1-h.jpg');
      background-color: rgba(0, 0, 0, 0.35);
      background-blend-mode: overlay;
    }
    &#h-2-2 {
      background-image: url('../img/cover/2-2-h.jpg');
      background-color: rgba(0, 0, 0, 0.45);
      background-blend-mode: overlay;
    }
    &#h-2-3 {
      background-image: url('../img/cover/2-3-h.jpg');
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: overlay;
    }
    &#h-3-1 {
      background-image: url('../img/cover/3-1-h.jpg');
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: overlay;
    }
    &#h-3-2 {
      background-image: url('../img/cover/3-2-h.jpg');
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: overlay;
    }
    &#h-3-3 {
      background-image: url('../img/cover/3-3-h.jpg');
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: overlay; 
    }
    &#h-3-4 {
      background-image: url('../img/cover/3-4-h.jpg');
      background-color: rgba(0, 0, 0, 0.45);
      background-blend-mode: overlay; 
    }
    &#h-4-1 {
      background-image: url('../img/cover/4-1-h.jpg');
      background-color: rgba(0, 0, 0, 0.3);
      background-blend-mode: overlay; 
    }
  }
  .content {
    // overflow: hidden;
    width: 1200px;
    padding: 90rem 40rem;
    text-align: left;

    .source {
      margin-top: 9rem;
      font-size: 16.5rem;
      text-align: left;
      color: $color-m3;
    }

    /* Module Starts (페이지 구성의 고유 요소들 묶음) */

    &.module-1 { // Index
      display: grid; grid-template-columns: repeat(2, 1fr); gap: 75rem;
      .part {
        display: flex; flex-direction: column; justify-content: center;
        .title2 {
          margin-bottom: 21rem;
        }
        .title3 {
          margin-bottom: 15rem;
        }
        ul {
          display: flex; flex-direction: column; gap: 6rem;
          padding-left: 15rem;
          li {
            list-style-type: disc;
            list-style-position: outside;
          }
        }
        .btn-group {
          margin-top: 42rem;
        }

        img {
          border-radius: 15rem;
          height: 330rem;
          width: 100%;
          margin: 0; padding: 0;
          object-fit: cover;
        }
        .logo {
          display: flex; align-items: center; justify-content: center;
          height: 180rem;
          background-color: $color-w1;
          border: 1px solid $color-k7;
          padding: 45rem 0rem;

          img {
            height: 100%;
            width: auto;
            margin: 0; padding: 0;
          }
        }
      }
    }

    &.module-2 { // Description
      .title3 {
        margin-bottom: 15rem;
      }

      table {
        width: 100%;
        font-size: 18rem;
        caption-side: bottom;
        ul {
          display: flex; flex-direction: column; gap: 15rem;
          padding-left: 18rem;
          li {
            list-style-type: disc;
            list-style-position: outside;
            width: fit-content;
          }
        }
        th, td {
          border: 1rem solid black;
          padding: 18rem 21rem;
          text-align: center;
          vertical-align: middle;
          ul {
            display: inline-flex;
          }
        }
        thead {
          th {
            font-weight: 500;
            color: $color-w1;
            background-color: $color-m2;
          }
        }
        tbody {
          th {
            background-color: $color-m7;
          }
        }
        &.table-even { // Making the width of cells same
          table-layout: fixed;
        }
        &#table-1 {
          margin: 30rem 0;
        }
        &#table-2 {
          margin-top: 30rem;
        }
        &#table-3 {
          margin-top: 45rem;
        }
      }

      #sponsor { // About Platform - Sponsor
        display: grid; grid-template-columns: repeat(3, 1fr); gap: 45rem;
        margin-top: 72rem;
        h3 {
          margin-bottom: 9rem;
        }
        .item {
          .img-container {
            display: flex; align-items: center; justify-content: center;
            margin-bottom: 12rem;
            height: 240rem;
            border: 1rem solid $color-k7;
            background-color: $color-w6;
            transition: 0.1s;
            img {
              height: 150rem; width: fit-content;
              &#cabei, &#bcie {
                width: 270rem;
                height: fit-content;
              }
            }
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
  
      #partner { // About Platform - Partner
        margin-top: 72rem;
        h3 {
          margin-bottom: 9rem;
        }
        .img-group {
          display: grid; grid-template-columns: repeat(6, 1fr);
          column-gap: 45rem; row-gap: 36rem;
          .img-container {
            display: flex; align-items: center;
            transition: 0.1s;
            border: 1rem solid $color-k7;
            padding: 18rem;
            height: 120rem;
            img {
              width: 100%;
            }
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }

      #signing {
        margin-top: 60rem;
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 45rem;
        .title5 {
          margin-bottom: 9rem;
        }
        .img-container {
          img {
            height: fit-content; width: 100%;
          }
          .para3 {
            margin-top: 6rem;
          }
        }
      }

      #country-profile { // Overview - Korean Map
        display: grid; grid-template-columns: 3fr 2fr; gap: 60rem;
        margin-top: 30rem;
        padding: 45rem;
        background-color: $color-k8;
        ul {
          display: flex; flex-direction: column; gap: 15rem;
          padding-left: 18rem;
          li {
            list-style-type: disc;
            list-style-position: outside;
            width: fit-content;
          }
        }
        img {
          height: 100%; width: 100%; 
        }
      }

      #trade-status { // Overview - Trade Status
        display: flex; flex-direction: column;
         align-items: center;
        margin-bottom: 45rem;
        background-color: $color-w1;

        #img-2 {
          margin-top: 30rem;
          width: 990rem; height: 100%;
          background-color: $color-m7;
        }
      }

      #maritime { // Logistics - Busan Port
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 60rem;
        margin-bottom: 30rem;
        .img-container {
          img {
            width: 100%;
          }
        }
      }

      #shipping { // Logistics - Shipping Route
        .img-container {
          margin-bottom: 21rem;
          img {
            height: 100%; width: 1200px; max-width: 1200px;
          }
        }
        .btn-group-2 {
          display: grid; grid-template-columns: repeat(2, 1fr); gap: 30rem;
          width: fit-content;
          margin-top: 21rem;
          a {
            display: flex; align-items: center; justify-content: center;
            padding: 15rem 21rem;
            border: 1rem solid $color-k7;
            &:hover {
              opacity: 0.6;
            }
            img {
              &#hapag-lloyd {
                height: 24rem;
              }
              &#maersk {
                height: 30rem;
              }
            }
          }
          
        }
      }

    }

    &.module-3 { // Success
      text-align: center;
      .logo {
        height: 100%; width: 300rem;
        background-color: $color-m7;
        margin-bottom: 60rem;
      }

      .img-group {
        margin-top: 60rem;
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 45rem;
        img {
          height: 100%; width: 100%;
        }
      }

      .interview-group {
        display: flex; flex-direction: column; gap: 60rem;
        margin-top: 75rem;
        text-align: left;

        .interview {
          .question {
            padding-left: 28rem;
            text-indent: -28rem;
          }
          .answer {
            margin: 15rem 0 0 30rem;
            padding-left: 15rem;
            border-left: 6rem solid $color-k7;
          }
        }
      }

      .info-container {
        margin-top: 75rem;
        text-align: left;
        .info {
          display: flex; flex-direction: column; gap: 3rem;
          margin-top: 18rem;
          padding-left: 18rem;
          text-align: left;
          list-style-type: disc;
        }
      }

    }
    
    &#history { // bb-history
      .title3 {
        margin-bottom: 45rem;
      }
      .bb-history {
        .item-group {
          border-top: 2px solid $color-k7;
          .item {
            border-bottom: 2px solid $color-k7;
            .question {
              display: flex;
              padding: 30rem;
              font-size: 18rem; font-weight: 600;
              // background-color: $color-m8;
              .date {
                width: 180rem;
              }
            }
            .answer {
              margin: 0 0 0 204rem;
              padding: 24rem 24rem 24rem 6rem;
              border-top: 1px solid $color-k7;
              font-size: 16.5rem; font-weight: 400; line-height: 27rem;
            }
          }
        }
        
      }
    }

    &#per-country { // per-country
      .title3 {
        margin-bottom: 30rem;
      }
      .country-item {
        display: grid; grid-template-columns: repeat(3, 1fr);
        column-gap: 45rem; row-gap: 30rem;
        .country {
          .info-container {
            display: flex; gap: 18rem; align-items: center;
            margin-top: 6rem;
            img {
              height: fit-content; width: 165rem;
              border: 1rem solid $color-k6;
            }
            .title5 {
              margin-bottom: 6rem;
            }
            ul {
              display: flex; flex-direction: column; gap: 7.5rem;
              padding-left: 0;
              font-size: 15rem; font-weight: 400;
              li {
                list-style-type: none;
              }
            }
          }
        }
      }
    }

    &#market { // ROK Market Info
      .title2 {
        margin-bottom: 60rem;
      }
      .bb-market {
        .item-group {
          width: 100%;
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            summary {
              cursor: pointer;
              user-select: none;
              display: flex; gap: 45rem; align-items: center;
              padding: 45rem;
              &:hover {
                background-color: $color-m8;
              }
              .thumb {
                height: 100%;
                width: 420rem; min-width: 420rem;
              }
              .info-container {
                .title2 {
                  margin-bottom: 15rem;
                }
              }
            }
            
            .detail-group {
              display: grid; grid-template-columns: repeat(3, 1fr);
              justify-content: space-between; gap: 45rem;
              
              margin: 0 45rem; padding: 45rem 0;
              border-top: 1px solid $color-k7;
              .detail {
                .title-container {
                  margin-bottom: 12rem;
                  .title {
                    margin-bottom: 3rem;
                    font-size: 19.5rem; font-weight: 600;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    overflow: hidden;
                  }
                  .code {
                    font-size: 15rem; font-weight: 400;
                    color: $color-k6;
                  }
                }
                
                .file-group {
                  display: flex; gap: 12rem;
                  margin-bottom: 15rem;
                  img {
                    height: 30rem;
                    &:hover {
                      opacity: 0.6;
                    }
                  }
                }
                .thumb {
                  border: 1rem solid $color-k7;
                  img {
                    height: 210rem; width: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }
        
      }
    }

    &#e-learning { // bb-e-learning
      .title2 {
        margin-bottom: 45rem;
      }
      .bb-e-learning {
        .item-group {
          display: flex; flex-direction: column; gap: 45rem;
          .item {
            display: flex; align-items: center;
            border: 1px solid $color-k7;
            text-decoration: none;
            color: $color-k1;
            .thumb {
              position: relative;
              height: 240rem;
              width: 375rem; min-width: 375rem; max-width: 375rem;
              transition: 0.1s;
              border: 1rem solid $color-k8;
              box-sizing: border-box;
              &:hover {
                opacity: 0.6;
              }
              .main {
                object-fit: cover;
                height: 100%; width: 100%;
              }
              .play {
                z-index: 1;
                position: absolute; top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                height: 72rem;
                opacity: 0.75;
              }
            }
            .info {
              padding: 27rem 36rem;
              text-align: left;
              .sector {
                margin-bottom: 3rem;
                font-size: 15rem;
                color: $color-k5;
              }
              .title {
                margin-bottom: 12rem;
                font-size: 21rem; font-weight: 600; line-height: 24rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                overflow: hidden;
              }
              
              .des {
                font-size: 16.5rem; font-weight: 300; line-height: 21rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                line-clamp: 4;
                overflow: hidden;
              }
              .file-group {
                display: flex; gap: 12rem;
                margin-top: 12rem;
                img {
                  height: 33rem;
                  &:hover {
                    opacity: 0.6;
                  }
                }
              }
            }
          }
        }
      }
    }

    &#publication { // bb-publication
      .title2 {
        margin-bottom: 45rem;
      }
      .bb-publication {
        .item-group {
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            summary {
              cursor: pointer;
              user-select: none;
              padding: 30rem;
              &:hover {
                background-color: $color-m8;
              }
              .title-container {
                display: grid; grid-template-columns: 1fr 15fr 2.5fr;
                font-size: 18rem; font-weight: 600;
                .title {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  line-clamp: 1;
                  overflow: hidden;
                }
                .date {
                  text-align: right;
                  font-weight: 300;
                }
              }
            }
            .detail-container {
              border-top: 1px solid $color-k8;
              margin: 0 30rem 0 90rem;
              padding: 30rem 0rem;
              .detail {
                font-size: 16.5rem; font-weight: 400; line-height: 24rem;
              }
              .down-group {
                margin-top: 27rem;
                display: flex; flex-direction: column; gap: 9rem;
                .down-container {
                  display: grid; align-items: center; gap: 15rem;
                  grid-template-columns: auto 1fr auto;
                  padding: 12rem 15rem;
                  border-radius: 9rem;
                  font-size: 16.5rem; font-weight: 400;
                  color: $color-k1;
                  text-decoration: none;
                  background-color: $color-k8;
                  &:hover {
                    opacity: 0.6;
                  }
                  img {
                    width: 18rem; height: auto;
                  }
                  .filename {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    overflow: hidden;
                  }

                }

              }
            }
          }
        }
      }
    }

    &#events { // bb-events
      .title2 {
        margin-bottom: 60rem;
      }
      .bb-events {
        display: flex; gap: 75rem;
        .filter-group {
          min-width: max-content;
          .filter {
            text-align: left;
            .title {
              margin-bottom: 9rem;
              font-size: 18rem; font-weight: 600;
            }
            .check-group {
              user-select: none;
              display: flex; flex-direction: column;
              .check {
                label {
                  padding: 6rem 0;
                  cursor: pointer;
                  width: fit-content;
                  display: flex; align-items: center;
                  font-size: 15rem;
                  &:hover {
                    // background-color: $color-m7;
                    text-decoration: underline;
                    text-underline-offset: 4rem;
                  }
                  input {
                    cursor: pointer;
                    margin: 0 9rem 0 0;
                    height: 18rem; width: 18rem;
                  }
                }
              }
            }
          }
          hr {
            margin: 33rem 0;
            border-color: $color-k7;
          }

        }
        
        .item-group {
          width: 100%;
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            summary {
              cursor: pointer;
              user-select: none;
              display: flex; gap: 30rem;
              padding: 30rem;
              &:hover {
                background-color: $color-m8;
              }
              .thumb {
                display: flex; align-items: center; justify-content: center;
                height: 105rem;
                width: 105rem; min-width: 105rem;
                border: 1rem solid $color-k7;
                background-color: $color-w1;
                img {
                  width: 100%;
                  object-fit: cover;
                }
              }
              .title-container {
                // display: flex; flex-direction: column; justify-content: space-between;
                .title {
                  margin-bottom: 12rem;
                  font-size: 21rem; font-weight: 600;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  overflow: hidden;
                }
                .info-container {
                  display: flex; gap: 45rem;
                  .info-1 {
                    display: flex; flex-direction: column; gap: 6rem;
                  }
                  .container {
                    display: flex;
                    .icon {
                      height: 18rem; width: 18rem;
                      margin-right: 9rem;
                      opacity: 0.4;
                    }
                    .date, .location, .sector {
                      font-size: 15rem; font-weight: 300;
                      line-height: 21rem;
                      margin-top: -1rem;
                    }
                    .date {
                      width: 210rem;
                    }
                  }
                }
              }
            }
            
            .detail-container {
              margin: 0 30rem;
              padding: 30rem 0;
              border-top: 1px solid $color-k7;
              .detail {
                font-size: 16.5rem; font-weight: 400; line-height: 24rem;
              }
              .btn-group {
                margin-top: 18rem;
              }
            }
          }
        }
        
      }
    }

    &#faq { // bb-faq
      .bb-faq {
        .item-group {
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            .question {
              cursor: pointer;
              user-select: none;
              display: block;
              padding: 30rem 30rem 30rem 60rem;
              font-size: 18rem; font-weight: 600;
              text-indent: -30rem;
              &:hover {
                background-color: $color-m8;
              }
              .head {
                margin-right: 12rem;
              }
            }
            .answer {
              margin: 0 30rem 0 60rem;
              padding: 30rem 0;
              border-top: 1px solid $color-k8;
              font-size: 16.5rem; font-weight: 400; line-height: 24rem;
            }
          }
        }
      }
    }

    &.module-4 { // Privacy Policy, Terms and conditions
      .title2 {
        margin-bottom: 60rem;
      }
      .title3 {
        margin-top: 45rem;
        margin-bottom: 15rem;
        line-height: 24rem;
      }
      .title4 {
        margin-top: 30rem;
        margin-bottom: 12rem;
        margin-left: 45rem;
      }
      
      .para {
        margin-left: 45rem;
        font-size: 15rem; font-weight: 300;
        .bold {
          font-weight: 600;
        }
        .email {
          color: $color-m1;
          text-underline-offset: 4rem;
        }
      }
    }

    &.module-5 { // more question
      padding: 30rem 40rem 120rem 40rem;
      text-align: center;
      .text {
        margin-bottom: 30rem;
        font-size: 30rem; font-weight: 700;
      }
    }

    /* Module Ends */
  }

  #login {
    min-height: calc(100vh - 115rem);
    .content {
      display: flex; justify-content: center; align-items: center;
      .create-container {
        width: fit-content;
        padding: 60rem;
        border: 2rem solid $color-k7;
        border-radius: 18rem;
        form {
          .input-group {
            margin-top: 45rem;
            display: flex; flex-direction: column; gap: 30rem;
            .input-container {
              display: flex; flex-direction: column;
              .label-container {
                display: flex; align-items: center; justify-content: space-between;
                margin-bottom: 6rem;
                font-size: 18rem; font-weight: 500;
              }
              input {
                width: 360rem;
                padding: 9rem 12rem;
                border: 1px solid $color-k6;
                font-size: 16.5rem;
                
                &::placeholder {
                  color: $color-k6;
                }
              }
            }
          }
          .btn-group {
            display: flex; flex-direction: column; gap: 15rem;
            margin-top: 45rem;
          }
        }
      }
    }
  }
  
  #signup {
    display: flex; justify-content: center; align-items: center;
    .create-container {
      width: fit-content;
      padding: 60rem;
      border: 2rem solid $color-k7;
      border-radius: 18rem;
      .title2 {
        margin-bottom: 36rem;
      }
      form {
        .title3 {
          margin-top: 60rem;
        }
        .input-group {
          margin-top: 27rem;
          display: flex; flex-direction: column; gap: 27rem;
          .input-container {
            display: flex; flex-direction: column;
            .label-container {
              display: flex; align-items: center; justify-content: space-between;
              margin-bottom: 6rem;
              font-size: 15rem; font-weight: 500;
            }
  
            input[type="text"],
            input[type="email"],
            input[type="password"]
            {
              width: 450rem;
              padding: 9rem;
              border: 1px solid $color-k6;
              font-size: 15rem;
              &::placeholder {
                color: $color-k6;
              }
            }
            input[type="file"] {
              border: 1px solid $color-k6;
              padding: 9rem;
              cursor: pointer;
              font-size: 15rem;
              &:hover {
                background-color: $color-k8;
  
              }
              &::file-selector-button {
                display: none;
              }
            }
            textarea {
              resize: none;
              min-height: 150rem;
              width: 450rem;
              padding: 9rem;
              border: 1px solid $color-k6;
              font-family: 'Pretendard', sans-serif;
              font-size: 15rem;
              &::placeholder {
                color: $color-k6;
              }
            }
  
            .check-container {
              display: flex; flex-direction: column; gap: 12rem;
              margin: 6rem 0 0 9rem;
              label {
                display: flex; align-items: center;
                cursor: pointer;
                user-select: none;
                width: max-content;
                font-size: 15rem; font-weight: 300;
                white-space: nowrap;
                &:hover {
                  .label-text {
                    text-decoration: underline;
                    text-underline-offset: 3rem;
                  }
                }
                input[type="checkbox"],
                input[type="radio"] {
                  cursor: pointer;
                  height: 21rem; width: 21rem;
                  min-height: 21rem; min-width: 21rem;
                  margin: 0 7.5rem 0 0;
                }
                .input-others {
                  width: 360rem;
                  margin: 0 0 0 9rem;
                  padding: 1.5rem 3rem 0rem 3rem;
                  border: 0;
                  border-bottom: 1px solid $color-k6;
                  &:focus {
                    outline: 0;
                    border-bottom: 1px solid $color-m1;
                  }
                }
              }
            }
          }
        }
        
        .btn-group {
          display: flex; flex-direction: column; gap: 15rem;
          margin-top: 45rem;
        }
      }
    }
  }
  
  .bb-create, .bb-update {
    padding-bottom: 150rem;
    .title2 {
        margin-bottom: 45rem;
      }
    .create-container, .update-container {
      .input-group {
        display: flex; flex-direction: column; gap: 27rem;
        .row-2 {
          display: grid; grid-template-columns: repeat(2, 1fr); gap: 30rem;
        }
        .input-container {
          display: flex; flex-direction: column;
          .label-container {
            display: flex; align-items: center; justify-content: space-between;
            margin-bottom: 6rem;
            font-size: 15rem; font-weight: 500;
          }
  
          input[type="text"],
          input[type="email"],
          input[type="password"]
          {
            padding: 12rem;
            border: 1px solid $color-k6;
            font-size: 15rem;
            &::placeholder {
              color: $color-k6;
            }
          }
          input[type="file"] {
            border: 1px solid $color-k6;
            padding: 12rem;
            cursor: pointer;
            font-size: 15rem;
            &:hover {
              background-color: $color-k8;
  
            }
            &::file-selector-button {
              display: none;
            }
          }
          textarea {
            font-family: 'Pretendard', sans-serif;
            resize: none;
            min-height: 150rem;
            padding: 12rem;
            border: 1px solid $color-k6;
            font-size: 15rem;
            &::placeholder {
              color: $color-k6;
            }
          }
  
          .check-container {
            display: flex; flex-direction: column; gap: 12rem;
            margin: 6rem 0 0 9rem;
            label {
              display: flex; align-items: center;
              cursor: pointer;
              user-select: none;
              width: max-content;
              font-size: 15rem; font-weight: 300;
              white-space: nowrap;
              &:hover {
                .label-text {
                  text-decoration: underline;
                  text-underline-offset: 3rem;
                }
              }
              input[type="checkbox"],
              input[type="radio"] {
                cursor: pointer;
                height: 21rem; width: 21rem;
                min-height: 21rem; min-width: 21rem;
                margin: 0 7.5rem 0 0;
              }
              .input-others {
                width: 360rem;
                margin: 0 0 0 9rem;
                padding: 1.5rem 3rem 0rem 3rem;
                border: 0;
                border-bottom: 1px solid $color-k6;
                &:focus {
                  outline: 0;
                  border-bottom: 1px solid $color-m1;
                }
              }
            }
          }
        }
      }
      .log-container {
        margin-top: 27rem;
        font-size: 15rem; font-weight: 300;
      }
    }
  }
  
  .bb-list {
    padding-bottom: 150rem;

    &#bb-li-members {
      .row {
        grid-template-columns: 45rem 210rem 210rem 1fr;
      }
    }
    &#bb-li-partners,
    &#bb-li-faq
    {
      .row {
        grid-template-columns: 45rem 1fr;
      }
    }
    &#bb-li-history,
    &#bb-li-publication {
      .row {
        grid-template-columns: 45rem 90rem 1fr;
      }
    }
    &#bb-li-market {
      .row {
        grid-template-columns: 45rem 1fr 66rem;
      }
    }
    &#bb-li-e-learning {
      .row {
        grid-template-columns: 45rem 270rem 1fr;
      }
    }
    &#bb-li-events {
      .row {
        grid-template-columns: 45rem 195rem 1fr;
      }
    }

    .title2 {
      margin-bottom: 45rem;
    }
    .list-container {
      font-size: 15rem;
      .row {
        display: grid; align-items: center; gap: 30rem;
        padding: 15rem;
        border-bottom: 1px solid $color-k7;
      }
      .head {
        font-weight: 600;
        border-top: 1px solid $color-k7;
        background-color: $color-k9;
      }
      .body {
        .row {
          cursor: pointer;
          text-decoration: none;
          font-weight: 300;
          color: $color-k1;
          &:hover {
            background-color: $color-k8;
          }
          .title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
          }
          .row-container {
            display: flex; flex-direction: column; gap: 6rem;
            .row-first, .row-second {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              overflow: hidden;
            }
          }
        }
      }
    }
    
    .page {
      display: none;
      // display: flex; align-items: center; justify-content: center; gap: 30rem;
      margin-top: 30rem;
      font-size: 18rem;
      button {
        display: flex; align-items: center; justify-content: center;
        height: 30rem; width: 30rem;
        font-size: 18rem; font-weight: 600;
      }
    }
  
  }
  
  .bb-list-update {
    padding-bottom: 150rem;
    &#bb-lu-members {
      .row {
        grid-template-columns: 45rem 210rem 210rem 1fr auto;
      }
    }
    &#bb-lu-partners,
    &#bb-lu-market,
    &#bb-lu-faq {
      .row {
        display: grid; grid-template-columns: 45rem 1fr auto;
      }
    }
    &#bb-lu-history,
    &#bb-lu-publication {
      .row {
        display: grid; grid-template-columns: 45rem 90rem 1fr auto;
      }
    }
    &#bb-lu-e-learning {
      .row {
        display: grid; grid-template-columns: 45rem 270rem 1fr auto;
      }
    }
    &#bb-lu-events {
      .row {
        grid-template-columns: 45rem 195rem 1fr auto;
      }
    }

    .title2 {
      margin-bottom: 45rem;
    }
    .list-container {
      font-size: 15rem;
      user-select: none;
      .row {
        display: grid; align-items: center; gap: 30rem;
        padding: 15rem;
        border-bottom: 1px solid $color-k7;
      }
      .head {
        font-weight: 600;
        border-top: 1px solid $color-k7;
        background-color: $color-k9;
      }
      .body {
        .row {
          font-weight: 300;
          &:has(.btn-arrow:hover, .btn-delete:hover) {
            background-color: $color-k9;
          }
          .title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
          }
          .row-container {
            display: flex; flex-direction: column; gap: 6rem;
            .row-first, .row-second {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              overflow: hidden;
            }
          }
          .btn-group {
            display: flex; gap: 9rem;
            .btn-arrow {
              cursor: pointer;
              display: flex; align-items: center; justify-content: center;
              margin: 0; padding: 0;
              height: 30rem; width: 30rem;
              border: 2rem solid $color-k1;
              border-radius: 6rem;
              background-color: $color-k8;
              img {
                height: 15rem; width: 15rem;
              }
              &:hover {
                opacity: 0.45;
              }
            }
            .btn-delete {
              cursor: pointer;
              font-size: 15rem;
              font-weight: 400;
              height: 30rem;
              margin: 0 0 0 12rem; padding: 0 9rem;
              color: $color-r1;
              border: 2px solid $color-r1;
              border-radius: 6rem;
              background-color: $color-w1;
              &:hover {
                color: $color-w1;
                background-color: $color-r1;
              }
            }
          }
        }
      }
    }
  }
  
  .bottom-section {
    width: 100%;
    // min-width: 1280px;
    display: flex; justify-content: center;
    position: fixed; bottom: 0; left: 0;
    background-color: $color-w2;
    box-shadow: 0 -3rem 3rem $color-k7;
    .bottom-content {
      display: flex; justify-content: center;
      width: 1200px;
      padding: 21rem 40rem;
      .btn-group-2 {
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 30rem;
      }
      .btn-group-3 {
        display: grid; grid-template-columns: repeat(3, 1fr); gap: 30rem;
      }
    }
  }

}



footer {
  background-color: $color-m1;
  .content {
    width: 1200px;
    padding: 18rem 40rem;
    display: flex; justify-content: space-between;
    .copyright {
      font-size: 16.5rem; font-weight: 300;
      text-align: center;
      color: $color-w1;
    }
    .footer-menu {
      display: flex; gap: 45rem;
      font-size: 16.5rem; font-weight: 300;
      a {
        color: $color-w1;
        text-decoration: none;
        
        &:hover {
          opacity: 0.6;
          text-decoration: underline;
          text-underline-offset: 4rem;
        }
      }
    }
  }
  &#success {
    .content {
      padding: 15rem 40rem 105rem 40rem;
    }
  }
}

.to-top {
  cursor: pointer;
  position: fixed; bottom: 60rem; right: 60rem;
  display: flex; align-items: center; justify-content: center;
  width: 60rem; height: 60rem;
  // border: 1rem solid $color-m3;
  border-radius: 60rem;
  background-color: $color-w1;
  box-shadow: 1rem 1rem 3rem 1rem $color-k5;
  img {
    width: 30rem; height: 100%;
  }
}

/* Important */
.hide {
  display: none !important;
}
.first {
  background-color: $color-w1 !important;
}
.second {
  background-color: $color-m8 !important;
}
.align-justify {
  text-align: justify !important;
}
/* Important Ends */