// 메뉴 폰트 사이즈 및 웨이트 재정의, 색상 코드 재정의, 웹폰트 매기기
$color-main: rgba(53, 99, 233, 1);
$color-hover: rgba(53, 99, 233, 1);
$color-active: rgba(53, 99, 233, 1);

$fs-menu1: 16.5rem; // 메뉴1 폰트 사이즈
$fw-menu1: 400; // 메뉴1 폰트 웨이트1 (일반)
$fs-menu2: 15rem; // 드롭 메뉴 폰트 사이즈
$fw-menu2: 400; // 드롭 메뉴 폰트 웨이트2
$fw-menu-active: 600; // 메뉴 active 폰트 웨이트

$fs-copy: 16rem; // 카피라이트 폰트 사이즈
$fw-copy: 300; // 카피라이트 폰트 웨이트


html {
  font-size: 1px; //rem 사용
}
body {
  font-family: 'Pretendard', sans-serif;
}

nav, header, section, footer {
  display: flex; justify-content: center; align-items: center;
  width: 100%; min-width: 1280px;
}

nav {
  user-select: none;
  position: sticky;
  top: 0; z-index: 998;
  background-color: rgba(255, 255, 255, 0.95);
  .navigation {
    display: flex; justify-content: space-between;
    height: 60px; width: 1200px; 
    padding: 0 40rem;
    font-size: $fs-menu1; font-weight: $fw-menu1;
    .mega-menu {
      display: flex; align-items: center; gap: 45rem;
      li {
        display: flex; align-items: center;
        height: 100%;
        position: relative;
        .logo {
          display: block;
          line-height: 0;
          height: 40rem; width: 40rem;
          background-color: rgba(53, 99, 233, 0.6);
          border-radius: 20rem;
          img {
            height: 40rem;
          }
        }
        .title {
          text-decoration: none;
          color: #999999;
          &:hover {
            cursor: pointer;
            color: $color-main;
          }
          &.active {
            color: $color-active;
            font-weight: $fw-menu-active;
          }
        }
        .dropdown-group {
          display: none;
          position: absolute; top: 80%; left: 50%;
          transform: translateX(-50%);
          width: max-content;
          padding: 15rem 21rem;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 9rem;
          background-color: rgba(255, 255, 255, 1);
          box-shadow: 1rem 1rem 3rem 0rem rgba(0, 0, 0, 0.3);
          a {
            font-size: $fs-menu2;
            text-decoration: none;
            color: #aaaaaa;
            &:hover {
              color: $color-main;
            }
            &.active {
              color: $color-active;
              font-weight: $fw-menu-active;
            }
          }
          &.show {
            display: flex; flex-direction: column; gap: 9rem;
          }
        }
      }
    }
    .function {
      display: flex; align-items: center; justify-content: flex-end; gap: 24rem;
    }
  }
}
header {
  height: 300rem;
  background-color: rgba(53, 99, 233, 0.45);
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &#h-index {
    background-image: url('../img/main/h-index.jpeg');
  }
  &#h-1-1 {
    background-image: url('../img/main/h-1-1.jpeg');
  }
  &#h-1-2 {
    background-image: url('../img/main/h-1-2.jpeg');
  }
  &#h-2-1 {
    background-image: url('../img/main/h-2-1.jpeg');
  }
  &#h-2-2 {
    background-image: url('../img/main/h-2-2.jpeg');
  }
  &#h-2-2-1 {
    background-image: url('../img/main/h-2-2-1.jpeg');
  }
  &#h-2-2-2 {
    background-image: url('../img/main/h-2-2-2.jpeg');
  }
  &#h-2-2-3 {
    background-image: url('../img/main/h-2-2-3.jpeg');
  }
  &#h-2-2-4 {
    background-image: url('../img/main/h-2-2-4.jpeg');
  }
  &#h-2-2-5 {
    background-image: url('../img/main/h-2-2-5.jpeg');
  }
  &#h-2-3 {
    background-image: url('../img/main/h-2-3.jpeg');
  }
  &#h-2-4 {
    background-image: url('../img/main/h-2-4.jpeg');
  }
  &#h-3-1 {
    background-image: url('../img/main/h-3-1.jpeg');
  }
  &#h-3-2 {
    background-image: url('../img/main/h-3-2.jpeg');
  }
  &#h-3-3 {
    background-image: url('../img/main/h-3-3.jpeg');
  }
  &#h-3-4 {
    background-image: url('../img/main/h-3-4.jpeg');
  }
  &#h-3-5 {
    background-image: url('../img/main/h-3-5.jpeg');
  }
}

section {
  &#sticky-menu-container { 
    position: sticky; top: 60rem;
    padding-bottom: 150rem;
    .sticky-menu {
      display: flex; justify-content: center; align-items: end;
      height: 75rem; width: 100%;
      background-color: rgba(255, 255, 255, 0.95);
      .btn-group {
        display: grid; grid-template-columns: repeat(2, 1fr);
        width: 1200px;
      }
    }
  }
}

footer {
  background-color: $color-main;
  .content {
    padding: 15rem 40rem;
    p.copyright {
      font-size: $fs-copy; font-weight: $fw-copy;
      text-align: center;
      color: white;
    }
  }
}

.content {
  overflow: hidden;
  width: 1200px;
  padding: 120rem 40rem;
  text-align: center;
  .head1 {
    color: rgba(255, 255, 255, 1);
    font-size: 45rem; font-weight: 700;
    text-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.75);
  }
  .head2 {
    font-size: 42rem; font-weight: 700;
  }
  .head3 {
    font-size: 27rem; font-weight: 600;
  }
  .head4 {
    // font-size: 18rem; font-weight: 500;
  }
  .para1 {
    font-size: 21rem; font-weight: 400; line-height: 30rem;
    span {
      font-weight: 700;
    }
  }
  .para2 {
    font-size: 18rem; font-weight: 400; line-height: 27rem; 
    span {
      font-weight: 600;
    }
  }
  .para3 { // Text parts of History
    font-size: 16.5rem; font-weight: 400; line-height: 24rem;
    span {
      font-weight: 600;
    }
  }
  .para4 { // Detail parts of History
    // font-size: 15rem; font-weight: 300;
  }
}

/* Module Starts (페이지 구성의 고유 요소들 묶음) */

.module-1 { // Index
  display: grid; grid-template-columns: 1fr 1fr; gap: 75rem;
  text-align: left;
  .part {
    display: flex; flex-direction: column; justify-content: center;
    h2 {
      margin-bottom: 30rem;
    }
    ul {
      display: flex; flex-direction: column; gap: 6rem;
      padding-left: 15rem;
      li {
        list-style-type: disc;
        list-style-position: outside;
      }
    }
    .btn-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 30rem;
      gap: 24rem;
    }
    img {
      border-radius: 15rem;
      margin: 0; padding: 0;
      width: 100%;
      height: 360rem;
    }
    .logo {
      height: 300rem;
      width: 100%;
      background-color: rgba(53, 99, 233, 0.15);
    }
  }
}
.module-2 { // Extra Link List
  h2 {
    margin-bottom: 30rem;
  }
  .part-group {
    margin: 72rem auto 0 auto;
    display: flex; flex-direction: column; gap: 60rem;
    text-align: left;
    width: fit-content;
    .part {
      ul {
        display: flex; flex-direction: column; gap: 15rem;
        margin-top: 15rem;
        padding-left: 18rem;
        li {
          list-style-type: disc;
          list-style-position: outside;
          width: fit-content;
        }
      }
    }
  }
}
.module-3 { // Description
  text-align: left;
  h2 {
    margin-bottom: 30rem;
  }
  h3 {
    margin-top: 45rem;
  }
  ul {
    display: flex; flex-direction: column; gap: 15rem;
    padding-left: 18rem;
    li {
      list-style-type: disc;
      list-style-position: outside;
      width: fit-content;
    }
  }
  table {
    width: 100%;
    margin: 12rem 0 30rem 0;
    font-size: 18rem;
    caption-side: bottom;
    th, td {
      border: 1px solid black;
      padding: 24rem 30rem;
      text-align: center;
      vertical-align: middle;
      ul {
        display: inline-flex;
      }
    }
    thead {
      th {
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(53, 99, 233, 0.9);
      }
    }
    tbody {
      th {
        background-color: rgba(53, 99, 233, 0.15)
      }
    }
    caption {
      padding-top: 6rem;
      font-size: 16.5rem;
      text-align: left;
      color: rgba(53, 99, 233, 0.75);
    }
    &.table-even { // Making the width of cells same
      table-layout: fixed;
    }
    &#cost-table {
      font-size: 15rem;
      th, td {
        padding: 3rem 0;
      }
      caption {
        text-indent: -27rem;
        font-size: 15rem;
        ul {
          gap: 9rem;
          padding-left: 27rem;
          li {
            list-style: none;
          }
        }
      }
    }
  }
  .img {
    width: 100%; height: 600rem;
    margin-bottom: 21rem;
    background-color: rgba(53, 99, 233, 0.15);
  }
}
.module-4 { // Company
  .img {
    display: inline-block;
    height: 180rem; width: 450rem;
    background-color: rgba(53, 99, 233, 0.45);
    margin-bottom: 60rem;
  }
  .profile {
    display: grid; grid-template-columns: repeat(2, 1fr);
    margin-top: 60rem;
    .photo {
      display: inline-block;
      height: 360rem; width: 100%;
      background-color: rgba(53, 99, 233, 0.45);
    }
    .info-container {
      border: 1px solid red;
      display: flex; align-items: center; justify-content: center;
      height: 100%; width: 100%;
      .info {
        display: flex; flex-direction: column; gap: 15rem;
        text-align: left;
        list-style-type: disc;
      }
    }
    

  }
  .qna {
    display: flex; flex-direction: column; gap: 15rem;
    text-align: justify;
    margin-top: 60rem;
    .question {
    }
    .answer {
      margin-left: 6rem;
      padding-left: 21rem;
      border-left: 9px solid rgba(53, 99, 233, 0.3);
    }
  }

}
#history {
  .calendar {
    display: flex; flex-direction: column; gap: 48rem;
    width: fit-content;
    margin: 60rem auto 0 auto;
    .year-group {
      display: flex; gap: 24rem;
      h3.year {
        font-size: 27rem; font-weight: 600;
        color: $color-main;
        width: 120rem;
        background-color: rgba(53, 99, 233, 0.1);
        display: flex; align-items: center; justify-content: center;
      }
      .month-group {
        display: flex; flex-direction: column; gap: 27rem;
        text-align: left;
        .date-group {
          padding-bottom: 3rem;
          h4.date {
            font-size: 18rem; font-weight: 500;
            color: rgba(53, 99, 233, 0.7);
          }
          .text-group {
            margin-top: 3rem;
            p.text {
              font-size: 18rem; font-weight: 400;
            }
            p.detail {
              margin-top: 3rem;
              padding-left: 12rem;
              font-size: 15rem; font-weight: 300;
              text-indent: -10rem;
            }
          }
        }
      }
      
    }
  }
}
#before-sticky {
  padding-bottom: 60rem;
}
#Erez {
  display: none;
}

/* Module Ends */

/* Important */
.hide {
  display: none !important;
}
.first {
  background-color: rgba(255, 255, 255, 1) !important;
}
.second {
  background-color: rgba(53, 99, 233, 0.05) !important;
}
.align-justify {
  text-align: justify !important;
}
/* Important Ends */