$color-w1: rgba(255, 255, 255, 1);
$color-w2: rgba(255, 255, 255, 0.95);
$color-w3: rgba(255, 255, 255, 0.75);
$color-w4: rgba(255, 255, 255, 0.6);
$color-w5: rgba(255, 255, 255, 0.45);
$color-w6: rgba(255, 255, 255, 0.3);
$color-w7: rgba(255, 255, 255, 0.15);
$color-w8: rgba(255, 255, 255, 0.05);

$color-k1: rgba(0, 0, 0, 1);
$color-k2: rgba(0, 0, 0, 0.9);
$color-k3: rgba(0, 0, 0, 0.75);
$color-k4: rgba(0, 0, 0, 0.6);
$color-k5: rgba(0, 0, 0, 0.45);
$color-k6: rgba(0, 0, 0, 0.3);
$color-k7: rgba(0, 0, 0, 0.15);
$color-k8: rgba(0, 0, 0, 0.05);

$color-m1: rgba(53, 99, 233, 1);
$color-m2: rgba(53, 99, 233, 0.9);
$color-m3: rgba(53, 99, 233, 0.75);
$color-m4: rgba(53, 99, 233, 0.6);
$color-m5: rgba(53, 99, 233, 0.45);
$color-m6: rgba(53, 99, 233, 0.3);
$color-m7: rgba(53, 99, 233, 0.15);
$color-m8: rgba(53, 99, 233, 0.05);

$color-r1: rgba(255, 0, 0, 1);

$fs-menu1: 16.5rem; // 메뉴1 폰트 사이즈
$fw-menu1: 300; // 메뉴1 폰트 웨이트1 (일반)
$fs-menu2: 15rem; // 드롭 메뉴 폰트 사이즈
$fw-menu2: 300; // 드롭 메뉴 폰트 웨이트2
$fw-menu-active: 500; // 메뉴 active 폰트 웨이트

$fs-copy: 16rem; // 카피라이트 폰트 사이즈
$fw-copy: 300; // 카피라이트 폰트 웨이트


html {
  font-size: 1px; //rem 사용
}
body {
  font-family: 'Pretendard', sans-serif;
}
* {
  .head1 {
    color: $color-w1;
    font-size: 45rem; font-weight: 700;
    text-shadow: 3rem 3rem 3rem $color-k3;
  }
  .head2 {
    font-size: 36rem; font-weight: 700;
  }
  .head3 {
    font-size: 24rem; font-weight: 600;
  }
  
  .para1 {
    font-size: 21rem; font-weight: 400; line-height: 27rem;
    span {
      font-weight: 700;
    }
  }
  .para2 {
    font-size: 18rem; font-weight: 400; line-height: 24rem; 
    span {
      font-weight: 600;
    }
  }
  .para3 { // Text parts of History
    font-size: 16.5rem; font-weight: 400; line-height: 21rem;
    span {
      font-weight: 600;
    }
  }
  .para4 { // Detail parts of History
    font-size: 15rem; font-weight: 300;
  }
}

header, .main-title, section, footer { // Same level
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
  width: 100%; min-width: 1280px;
}

header {
  user-select: none;
  position: sticky;
  top: 0; z-index: 998;
  background-color: $color-w2;
  nav { // Same level with the one of '.content'
    display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 75rem;
    height: 60px; width: 1200px; 
    padding: 0 40rem;
    font-size: $fs-menu1 !important; font-weight: $fw-menu1 !important;
    .mega-menu {
      display: flex; align-items: center; justify-content: space-between;
      li {
        display: flex; align-items: center;
        height: 100%;
        position: relative;
        .logo {
          display: block;
          line-height: 0;
          height: 40rem; width: 40rem;
          background-color: $color-m4;
          border-radius: 20rem;
          img {
            height: 40rem;
          }
        }
        .title {
          text-decoration: none;  
          color: $color-k5;
          &:hover {
            cursor: pointer;
            color: $color-m1;
          }
          &.active {
            color: $color-m1;
            font-weight: $fw-menu-active;
          }
        }
        .menu-drop {
          position: absolute; top: 80%; left: 50%; transform: translateX(-50%);
          width: max-content;
          padding: 9rem 0;
          border: 1rem solid $color-k7;
          border-radius: 9rem;
          background-color: $color-w1;
          box-shadow: 1rem 1rem 3rem 0rem $color-k6;
          li {
            display: block;
            a {
              display: block;
              padding: 6rem 21rem;
              font-size: $fs-menu2;
              text-decoration: none;
              color: $color-k5;
              &.active {
                color: $color-m1;
                font-weight: $fw-menu-active;
              }
              &:hover {
                background-color: $color-m7;
              }
            }
          }
        }
      }
    }
    .function {
      display: flex; align-items: center; justify-content: flex-end; gap: 24rem;
      .my-container {
        position: relative;
        display: flex; align-items: center;
        height: 100%;
        #my-menu {
          position: absolute; top: 96%; right: 0;
          width: max-content;
          padding: 9rem 0;
          border: 1rem solid $color-k7;
          border-radius: 9rem;
          background-color: $color-w1;
          box-shadow: 1rem 1rem 3rem 0rem $color-k6;
          a {
            display: block;
            padding: 6rem 21rem;
            font-size: $fs-menu2;
            text-align: right;
            text-decoration: none;
            color: $color-k5;
            &.active {
              color: $color-m1;
              font-weight: $fw-menu-active;
            }
            &:hover {
              background-color: $color-m7;
            }
            &.sign-out {
              font-weight: 500;
              color: $color-r1;
            }
          }
        }
      }
    }
  }
}

main {
  .main-title {
    height: 600rem;
    background-color: $color-m5;
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    &#h-index {
      background-image: url('../img/index-h.jpg');
    }
    &#h-1-1 {
      background-image: url('../img/1-1-h.jpg');
    }
    &#h-1-2 {
      background-image: url('../img/1-2-h.jpg');
    }
    &#h-2-1 {
      background-image: url('../img/2-1-h.jpg');
    }
    &#h-2-2 {
      background-image: url('../img/2-2-h.jpg');
    }
    &#h-2-3 {
      background-image: url('../img/2-3-h.jpg');
    }
    &#h-3-1 {
      background-image: url('../img/3-1-h.jpg');
    }
    &#h-3-2 {
      background-image: url('../img/3-2-h.jpg');
    }
    &#h-3-3 {
      background-image: url('../img/3-3-h.jpg');
    }
    &#h-3-4 {
      background-image: url('../img/3-4-h.jpg');
    }
    &#h-4 {
      background-image: url('../img/4-h.jpg');
    }
  }

  section {
    &#sticky-menu-container { 
      position: fixed; bottom: 0;
      box-shadow: 0 6rem 6rem 6rem $color-k7;
      .sticky-menu {
        padding: 21rem 0;
        display: flex; justify-content: center;
        width: 100%;
        background-color: $color-w2;
        .btn-group {
          display: grid; grid-template-columns: repeat(2, 1fr); gap: 30rem;
        }
      }
    }
  }

  .content {
    // overflow: hidden;
    width: 1200px;
    padding: 90rem 40rem;
    text-align: left;

    .source {
      margin-top: 9rem;
      font-size: 16.5rem;
      text-align: left;
      color: $color-m3;
    }

    /* Module Starts (페이지 구성의 고유 요소들 묶음) */

    &.module-1 { // Index
      display: grid; grid-template-columns: repeat(2, 1fr); gap: 75rem;
      .part {
        display: flex; flex-direction: column; justify-content: center;
        .head2 {
          margin-bottom: 21rem;
        }
        ul {
          display: flex; flex-direction: column; gap: 6rem;
          padding-left: 15rem;
          li {
            list-style-type: disc;
            list-style-position: outside;
          }
        }
        .btn-group {
          margin-top: 42rem;
        }

        img {
          border-radius: 15rem;
          height: 390rem;
          width: 100%;
          margin: 0; padding: 0;
        }
        .logo {
          display: flex; align-items: center; justify-content: center;
          height: 180rem;
          background-color: $color-w1;
          border: 1px solid $color-k7;
          padding: 45rem 0rem;

          img {
            height: 100%;
            width: auto;
            margin: 0; padding: 0;
          }
        }
      }
    }

    &#index-logo { // Index Logo
      text-align: left;
      padding-top:0;
      .aaa {
        display: grid; grid-template-columns: repeat(3, 1fr); gap: 45rem;
        .ele {
          a {
            margin: 12rem 0 15rem 0;
            display: inline-block;
            transition: 0.1s;
            .img {
              height: 210rem; width: 210rem;
              background-color: $color-k7;
            }
            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
      .bbb {
        margin-top: 60rem;
        .ele {
          .img-group {
            margin-top: 15rem;
            display: grid; grid-template-columns: repeat(6, 1fr);
            column-gap: 45rem; row-gap: 36rem;
            a {
              display: inline-block;
              transition: 0.1s;
              .img {
                height: 90rem; width: 100%;
                background-color: $color-k7;
              }
              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }

    &.module-2 { // Description
      .head2 {
        margin-bottom: 45rem;
      }
      .head3 {
        margin: 60rem 0 9rem 0;
      }
      ul {
        display: flex; flex-direction: column; gap: 15rem;
        padding-left: 18rem;
        li {
          list-style-type: disc;
          list-style-position: outside;
          width: fit-content;
        }
      }

      table {
        width: 100%;
        font-size: 18rem;
        caption-side: bottom;
        th, td {
          border: 1rem solid black;
          padding: 18rem 21rem;
          text-align: center;
          vertical-align: middle;
          ul {
            display: inline-flex;
          }
        }
        thead {
          th {
            font-weight: 500;
            color: $color-w1;
            background-color: $color-m2;
          }
        }
        tbody {
          th {
            background-color: $color-m7;
          }
        }
        &.table-even { // Making the width of cells same
          table-layout: fixed;
        }
        &#table-1 {
          margin-bottom: 30rem;
        }
      }

      #signing {
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 45rem;
        .img-container {
          .head3 {
            span {
              font-size: 16.5rem; font-weight: 400; line-height: 21rem;
            }
          }
          .img {
            height: 300rem; width: 100%;
            background-color: $color-m7;
          }
          .para3 {
            margin-top: 6rem;
          }
        }
      }

      #per-country {
        display: grid; grid-template-columns: repeat(3, 1fr);
        column-gap: 45rem; row-gap: 30rem;
        .country {
          .head3 {
            margin: 0;
          }
          .img-container {
            display: flex; gap: 15rem; align-items: center;
            margin-top: 6rem;
            .img {
              height: 90rem; width: 150rem;
              background-color: $color-k7;
            }
            ul {
              display: flex; flex-direction: column; gap: 9rem;
              padding-left: 0;
              li {
                list-style-type: none;
              }
            }
          }
        }
      }

      #country-profile {
        display: grid; grid-template-columns: 3fr 2fr; gap: 60rem;
        margin-top: 45rem;
        padding: 45rem;
        background-color: $color-k8;
      }

      #maritime {
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 60rem;
        margin-bottom: 60rem;
      }

      #img-1 {
        width: 100%; height: 100%;
        background-color: $color-m7;
      }
      #img-con-2 {
        display: flex; flex-direction: column; align-items: center;
        margin-bottom: 15rem;
        padding: 45rem;
        background-color: $color-k8;
        #img-2 {
          width: 600rem; height: 300rem;
          background-color: $color-m7;
        }
      }

      #img-con-3 {
        #img-3 {
          width: 100%; height: 270rem;
          background-color: $color-m7;
        }
      }

      #img-con-4 {
        margin-bottom: 45rem;
        #img-4 {
          width: 100%; height: 450rem;
          background-color: $color-m7;
        }
      }
      #btn-group-dn-1 {
        margin-top: 75rem;
        display: flex; justify-content: center;
      }
    }

    &.module-3 { // Success
      text-align: center;
      .logo {
        display: inline-block;
        height: 90rem; width: 450rem;
        background-color: $color-m7;
        margin-bottom: 60rem;
      }

      .img-group {
        margin-top: 60rem;
        display: grid; grid-template-columns: repeat(2, 1fr); gap: 30rem;
        .img {
          background-color: $color-m7;
        }
        img {
          width: 100%; height: auto;
        }
      }

      .interview-group {
        display: flex; flex-direction: column; gap: 60rem;
        margin-top: 75rem;
        text-align: left;

        .interview {
          .question {
            padding-left: 28rem;
            text-indent: -28rem;
          }
          .answer {
            margin: 15rem 0 0 30rem;
            padding-left: 15rem;
            border-left: 6rem solid $color-k7;
          }
        }
      }

      .info-container {
        margin-top: 75rem;
        text-align: left;
        .info {
          display: flex; flex-direction: column; gap: 3rem;
          margin-top: 18rem;
          padding-left: 18rem;
          text-align: left;
          list-style-type: disc;
        }
      }

    }

    &#market { // ROK Market Info

    }

    &#lecture { // bb-lecture
      .head2 {
        margin-bottom: 45rem;
      }
      .bb-lecture {
        .item-group {
          display: flex; flex-direction: column; gap: 45rem;
          .item {
            display: flex; align-items: center;
            border: 1px solid $color-k7;
            text-decoration: none;
            color: $color-k1;
            .thumb {
              height: 200rem; min-width: 320rem;
              background-color: $color-k7;
              transition: 0.1s;
              &:hover {
                opacity: 0.6;
              }
            }
            .info {
              // display: flex; flex-direction: column;
              padding: 21rem 30rem;
              text-align: left;
              .title {
                .sector {
                  border-right: 1rem solid $color-k6;
                  margin-right: 12rem;
                  padding-right: 12rem;
                }
                margin-bottom: 12rem;
                font-size: 18rem; font-weight: 500; line-height: 18rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
              }
              .des {
                font-size: 15rem; font-weight: 300;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
              }
              .btn-group {
                margin-top: 15rem;
              }
            }
          }
        }
      }
    }

    &#publication { // bb-publication
      .head2 {
        margin-bottom: 45rem;
      }
      .bb-publication {
        .item-group {
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            summary {
              cursor: pointer;
              user-select: none;
              padding: 24rem;
              &:hover {
                background-color: $color-m8;
              }
              .title-container {
                display: grid; grid-template-columns: 1fr 15fr 2.5fr;
                font-size: 18rem; font-weight: 600;
                .title {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  overflow: hidden;
                }
                .date {
                  text-align: right;
                  font-weight: 300;
                }
              }
            }
            .detail-container {
              border-top: 1px solid $color-k8;
              margin: 0 24rem;
              padding: 24rem 24rem 24rem 62rem;
              .detail {
                font-size: 16.5rem; font-weight: 400;
              }
              .btn-group {
                margin-top: 15rem;
              }
            }
          }
        }
        
      }
    }

    &#events { // bb-events
      .head2 {
        margin-bottom: 60rem;
      }
      .bb-events {
        display: flex; gap: 75rem;
        .filter-group {
          min-width: max-content;
          .filter {
            text-align: left;
            .title {
              margin-bottom: 6rem;
              font-size: 18rem; font-weight: 600;
            }
            .check-group {
              user-select: none;
              display: flex; flex-direction: column;
              .check {
                label {
                  padding: 9rem;
                  cursor: pointer;
                  width: fit-content;
                  display: flex; align-items: center;
                  font-size: 15rem;
                  &:hover {
                    background-color: $color-m7;
                  }
                  input {
                    margin: 0 9rem 0 0;
                    height: 18rem; width: 18rem;
                  }
                }
              }
            }
          }
          hr {
            margin: 33rem 0;
            border-color: $color-k7;
          }

        }
        
        .item-group {
          width: 100%;
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            summary {
              cursor: pointer;
              user-select: none;
              display: flex; gap: 30rem;
              padding: 30rem;
              &:hover {
                background-color: $color-m8;
              }
              .thumb {
                height: 90rem;
                width: 160rem; min-width: 160rem;
                background-color: $color-k7;
              }

              .info-container {
                .title {
                  margin-bottom: 3rem;
                  font-size: 21rem; font-weight: 600;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 1;
                  overflow: hidden;
                }
                .info-container {
                  margin-top: 9rem;
                  font-size: 15rem;
                  display: flex; gap: 45rem;
                  .info-1 {
                    display: flex; flex-direction: column; gap: 6rem;
                  }
                  .container {
                    display: flex;
                    .icon {
                      height: 21rem; width: 21rem;
                      margin-right: 9rem;
                      border-radius: 21rem;
                      background-color: $color-m6;
                    }
                    .date, .location, .sector {
                      margin-top: 1rem;
                      font-size: 15rem; font-weight: 300;
                    }
                  }
                }
              }
            }
            
            .detail-container {
              margin: 0 30rem;
              padding: 30rem 0;
              border-top: 1px solid $color-k8;
              .detail {
                font-size: 16.5rem; font-weight: 400;
              }
              .btn-group {
                margin-top: 15rem;
              }
            }
          }
        }
        
      }
    }

    &#history { // bb-history
      .head2 {
        margin-bottom: 60rem;
      }
      .bb-history {
        .item-group {
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }

            .question {
              cursor: pointer;
              user-select: none;
              display: flex;
              padding: 24rem 30rem;
              font-size: 18rem; font-weight: 600;
              &:hover {
                background-color: $color-m8;
              }
              .date {
                width: 180rem;
              }
            }
            .answer {
              margin: 0 24rem 0 30rem;
              padding: 24rem 0 30rem 180rem;
              border-top: 1px solid $color-k8;
              font-size: 16.5rem; font-weight: 400; line-height: 24rem;
            }
          }
        }
        
      }
    }

    &#related { // bb-related site
      .head2 {
        margin-bottom: 45rem;
      }
      .bb-related {
        .item-group {
          display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 45rem;
          .item {
            background-color: $color-w3;
            border: 1px solid $color-k7;
            display: block;
            text-decoration: none;
            color: $color-k1;
            padding: 24rem;
            text-align: center;
  
            &:hover {
              .logo, .title {
                opacity: 0.6;
                text-decoration: underline;
                text-underline-offset: 4rem;
              }
            }
  
            .logo {
              .test-img {
                height: 180rem; width: 100%;
                background-color: $color-k7;
              }
            }
  
            .title {
              margin-top: 12rem;
              font-size: 18rem; font-weight: 500;
            }
          }
        }
      }
    }

    &#faq { // bb-faq
      .para1 {
        text-align: center;
        margin-bottom: 75rem;
      }
      .bb-faq {
        .item-group {
          border-top: 1px solid $color-k7;
          details {
            border-bottom: 1px solid $color-k7;
            text-align: left;
            box-shadow: 0 0 0 6rem $color-m7 inset;
            &:not([open]) {
              box-shadow: 0 0 0 0;
            }
            .question {
              cursor: pointer;
              user-select: none;
              display: block;
              padding: 24rem 24rem 24rem 46rem;
              font-size: 18rem; font-weight: 600;
              text-indent: -22rem;
              &:hover {
                background-color: $color-m8;
              }
            }
            .answer {
              margin: 0 24rem 0 45rem;
              padding: 15rem 0 24rem 0;
              border-top: 1px solid $color-k8;
              font-size: 16.5rem; font-weight: 400;
            }
          }
        }
        
      }
      .more-question {
        margin-top: 75rem;
        text-align: center;
        .head2 {
          margin-bottom: 30rem;
        }
      }
    }

    /* Module Ends */
  }

}

footer {
  background-color: $color-m1;
  .content {
    padding: 15rem 40rem;
    p.copyright {
      font-size: $fs-copy; font-weight: $fw-copy;
      text-align: center;
      color: $color-w1;
    }
  }
  &#success {
    .content {
      padding: 15rem 40rem 105rem 40rem;
    }
  }
}

/* Important */
.hide {
  display: none !important;
}
.first {
  background-color: $color-w1 !important;
}
.second {
  background-color: $color-m8 !important;
}
.align-justify {
  text-align: justify !important;
}
/* Important Ends */

.test {
  .aaa {
    font-size: 30rem;
    position: relative;
  }
  details {
    
    summary {
      position: sticky; top: 60rem;
      padding: 60rem;
      border: 1px solid red;
      background-color: #dddddd;
    }
    .text {
      height: 500rem;
      background-color: $color-k8;
      // position: absolute; top: 0; right: 0; z-index: 999;
    }
  }
}