.btn-1-1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 33rem;
  padding: 0 15rem;
  border: 2rem solid rgba(53, 99, 233, 0.9);
  border-radius: 20rem;
  font-size: 15rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.9);
  text-decoration: none;
  box-sizing: border-box;
}
.btn-1-1:hover {
  opacity: 0.75;
}

.btn-1-2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 33rem;
  padding: 0 15rem;
  border: 2rem solid rgb(53, 99, 233);
  border-radius: 20rem;
  font-size: 15rem;
  font-weight: 400;
  color: rgb(53, 99, 233);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  box-sizing: border-box;
}
.btn-1-2:hover {
  opacity: 0.75;
}

#btn-my {
  cursor: pointer;
  height: 40rem;
  width: 40rem;
  border: 0;
  border-radius: 20rem;
  font-size: 16.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.9);
}
#btn-my:hover {
  opacity: 0.75;
}

.btn-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.btn-lang img {
  height: 21rem;
  width: 21rem;
}
.btn-lang .text {
  margin-left: 6rem;
  font-size: 16.5rem;
  font-weight: 500;
}
.btn-lang:hover {
  opacity: 0.6;
}

.btn-2-1 {
  cursor: pointer;
  background-color: rgba(53, 99, 233, 0.75);
  border: 2rem solid rgb(53, 99, 233);
  border-radius: 30rem;
  padding: 12rem 60rem;
  font-size: 16rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.btn-2-1:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 3rem;
}

.btn-2-2 {
  cursor: pointer;
  border: 2rem solid rgb(53, 99, 233);
  border-radius: 30rem;
  padding: 12rem;
  font-size: 16rem;
  text-align: center;
  text-decoration: none;
  color: rgb(53, 99, 233);
  background-color: rgb(255, 255, 255);
}
.btn-2-2:hover {
  opacity: 0.75;
}

.btn-dn-1 {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12rem 24rem 15rem 24rem;
  border: 2rem solid rgb(53, 99, 233);
  border-radius: 30rem;
  font-size: 19.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.75);
  text-decoration: none;
  transition: 0.1s;
}
.btn-dn-1:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 5rem;
}

.btn-dn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4rem 18rem 6rem 18rem;
  border: 2px solid rgb(53, 99, 233);
  border-radius: 30rem;
  font-size: 16.5rem;
  font-weight: 400;
  background-color: rgba(53, 99, 233, 0.75);
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.btn-dn-2:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 2rem;
}

.btn-tab {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48rem;
  width: 330rem;
  border: 2rem solid rgb(53, 99, 233);
  box-sizing: border-box;
  font-size: 18rem;
  color: rgb(53, 99, 233);
  background-color: rgb(255, 255, 255);
  transition: 0.1s;
}
.btn-tab.active {
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.9);
}
.btn-tab:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 4rem;
}

.btn-con-1 {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48rem;
  width: 330rem;
  border: 2rem solid rgb(53, 99, 233);
  box-sizing: border-box;
  font-size: 18rem;
  color: rgb(53, 99, 233);
  background-color: rgb(255, 255, 255);
  transition: 0.1s;
}
.btn-con-1:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 4rem;
}

.btn-con-2 {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48rem;
  width: 330rem;
  border: 2rem solid rgb(53, 99, 233);
  box-sizing: border-box;
  font-size: 18rem;
  color: rgb(255, 255, 255);
  background-color: rgba(53, 99, 233, 0.9);
  transition: 0.1s;
}
.btn-con-2:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 4rem;
}

.btn-con-3 {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48rem;
  width: 330rem;
  border: 2rem solid rgb(255, 0, 0);
  box-sizing: border-box;
  font-size: 18rem;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.9);
  transition: 0.1s;
}
.btn-con-3:hover {
  opacity: 0.75;
  text-decoration: underline;
  text-underline-offset: 4rem;
}

.btn-text-1 {
  cursor: pointer;
  color: rgb(53, 99, 233);
  text-underline-offset: 2rem;
}
.btn-text-1:hover {
  opacity: 0.6;
}

.btn-text-2 {
  cursor: pointer;
  margin-top: 6rem;
  font-size: 18rem;
  color: rgb(53, 99, 233);
  text-underline-offset: 3rem;
}
.btn-text-2:hover {
  opacity: 0.6;
}

.btn-text-3 {
  color: rgb(53, 99, 233);
  text-decoration: underline;
  text-underline-offset: 4rem;
}
.btn-text-3:hover {
  opacity: 0.6;
}

.btn-text-4 {
  font-size: 16.5rem;
  color: rgb(53, 99, 233);
  text-decoration: underline;
  text-underline-offset: 4rem;
}
.btn-text-4:hover {
  opacity: 0.6;
}

.btn-text-5 {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 15rem;
  font-size: 16.5rem;
  line-height: 30rem;
  list-style-type: disc;
  color: rgb(53, 99, 233);
}
.btn-text-5 a {
  color: rgb(53, 99, 233);
  text-underline-offset: 4rem;
}
.btn-text-5:hover {
  opacity: 0.6;
}

.btn-login {
  cursor: pointer;
  margin: 0;
  padding: 9rem;
  font-size: 18rem;
  border: 2rem solid rgb(53, 99, 233);
  background-color: rgba(53, 99, 233, 0.75);
  color: rgb(255, 255, 255);
}
.btn-login:hover {
  opacity: 0.75;
}

.btn-signup {
  cursor: pointer;
  margin: 0;
  font-size: 18rem;
  padding: 9rem;
  border: 2rem solid rgb(53, 99, 233);
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  color: rgb(53, 99, 233);
}
.btn-signup:hover {
  opacity: 0.6;
}

.btn-forget {
  display: block;
  font-size: 15rem;
  font-weight: 400;
  text-decoration: none;
  color: rgb(53, 99, 233);
}
.btn-forget:hover {
  opacity: 0.6;
}/*# sourceMappingURL=button.css.map */