$color-w1: rgba(255, 255, 255, 1);
$color-w2: rgba(255, 255, 255, 0.95);
$color-w3: rgba(255, 255, 255, 0.75);
$color-w4: rgba(255, 255, 255, 0.6);
$color-w5: rgba(255, 255, 255, 0.45);
$color-w6: rgba(255, 255, 255, 0.3);
$color-w7: rgba(255, 255, 255, 0.15);
$color-w8: rgba(255, 255, 255, 0.05);

$color-k1: rgba(0, 0, 0, 1);
$color-k2: rgba(0, 0, 0, 0.9);
$color-k3: rgba(0, 0, 0, 0.75);
$color-k4: rgba(0, 0, 0, 0.6);
$color-k5: rgba(0, 0, 0, 0.45);
$color-k6: rgba(0, 0, 0, 0.3);
$color-k7: rgba(0, 0, 0, 0.15);
$color-k8: rgba(0, 0, 0, 0.05);

$color-m1: rgba(53, 99, 233, 1);
$color-m2: rgba(53, 99, 233, 0.9);
$color-m3: rgba(53, 99, 233, 0.75);
$color-m4: rgba(53, 99, 233, 0.6);
$color-m5: rgba(53, 99, 233, 0.45);
$color-m6: rgba(53, 99, 233, 0.3);
$color-m7: rgba(53, 99, 233, 0.15);
$color-m8: rgba(53, 99, 233, 0.05);

$color-r1: rgba(255, 0, 0, 1);

$fs-menu1: 16.5rem; // 메뉴1 폰트 사이즈
$fw-menu1: 300; // 메뉴1 폰트 웨이트1 (일반)
$fs-menu2: 15rem; // 드롭 메뉴 폰트 사이즈
$fw-menu2: 300; // 드롭 메뉴 폰트 웨이트2
$fw-menu-active: 500; // 메뉴 active 폰트 웨이트

.btn-1-1 { // Sign in
  cursor: pointer;
  display: flex; align-items: center;
  height: 33rem;
  padding: 0 15rem;
  border: 2rem solid $color-m2;
  border-radius: 20rem;
  font-size: 15rem;
  font-weight: 400;
  color: $color-w1;
  background-color: $color-m2;
  text-decoration: none;
  box-sizing: border-box;
  &:hover {
    opacity: 0.75;
  }
  
}
.btn-1-2 { // Log in
  cursor: pointer;
  display: flex; align-items: center;
  height: 33rem;
  padding: 0 15rem;
  border: 2rem solid $color-m1;
  border-radius: 20rem;
  font-size: 15rem;
  font-weight: 400;
  color: $color-m1;
  background-color: $color-w1;
  text-decoration: none;
  box-sizing: border-box;
  &:hover {
    opacity: 0.75;
  }
}

#btn-my {
  cursor: pointer;
  height: 40rem; width: 40rem;
  border: 0;
  border-radius: 20rem;
  font-size: 16.5rem; font-weight: 400;
  color: $color-w1;
  background-color: $color-m2;
  &:hover {
    opacity: 0.75;
  }
}

.btn-lang {
  display: flex; align-items: center; justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: $color-k1;
  img {
    height: 21rem; width: 21rem;
  }
  .text {
    margin-left: 6rem;
    font-size: 16.5rem; font-weight: 500;
  }
  &:hover {
    opacity: 0.6;
  }
}

.btn-2-1 { // Index Page Buttons
  cursor: pointer;
  background-color: $color-m3;
  border: 2rem solid $color-m1;
  border-radius: 30rem;
  padding: 12rem 60rem;
  font-size: 16rem;
  text-align: center;
  text-decoration: none;
  color: $color-w1;
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
    text-underline-offset: 3rem;
  }
}

.btn-2-2 { // Index Page Buttons
  cursor: pointer;
  border: 2rem solid $color-m1;
  border-radius: 30rem;
  padding: 12rem;
  font-size: 16rem;
  text-align: center;
  text-decoration: none;
  color: $color-m1;
  background-color: $color-w1;
  &:hover {
    opacity: 0.75;
    
  }
}

.btn-dn-1 { // Logistics, FAQ
  display: inline-block;
  width: fit-content;
  padding: 12rem 24rem 15rem 24rem;
  border: 2rem solid $color-m1;
  border-radius: 30rem;
  font-size: 19.5rem; font-weight: 400;
  color: $color-w1;
  background-color: $color-m3;
  text-decoration: none;
  transition: 0.1s;
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
    text-underline-offset: 5rem;
  }
}

.btn-dn-2 { // E-learning, Publication
  display: flex; align-items: center; justify-content: center;
  width: fit-content;
  padding: 4rem 18rem 6rem 18rem;
  border: 2px solid $color-m1;
  border-radius: 30rem;
  font-size: 16.5rem; font-weight: 400;
  background-color: $color-m3;
  color: $color-w1;
  text-decoration: none;
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
    text-underline-offset: 2rem;
  }
}

.btn-tab { // LATIDA, EREZ Buttons
  cursor: pointer;
  height: 48rem; width: 330rem;
  border: 2rem solid $color-m1;
  font-size: 18rem;
  color: $color-m1;
  background-color: $color-w1;
  transition: 0.1s;
  &.active {
    color: $color-w1;
    background-color: $color-m3;
  }
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
    text-underline-offset: 6rem;
  }
}

.btn-text-1 { // Per Country FTA Text : Extra link
  cursor: pointer;
  color:$color-m1;
  text-underline-offset: 2rem;
  &:hover {
    opacity: 0.6;
  }
}

.btn-text-2 { // ROK Market Info : Learn more
  cursor: pointer;
  margin-top: 6rem;
  font-size: 18rem;
  color: $color-m1;
  text-underline-offset: 3rem;
  &:hover {
    opacity: 0.6;
  }
}

.btn-text-3 { // LATIDA, EREZ Info 회사 웹사이트
  color: $color-m1;
  text-decoration: underline;
  text-underline-offset: 4rem;
  &:hover {
    opacity: 0.6;
  }
}

.btn-text-4 { // Events : Go to the website
  font-size: 16.5rem;
  color: $color-m1;
  text-decoration: underline;
  text-underline-offset: 4rem;
  &:hover {
    opacity: 0.6;
  }
}

.btn-text-5 { // Publication : File download
  width: fit-content;
  margin-left: 15rem;
  font-size: 16.5rem; line-height: 30rem;
  list-style-type: disc;
  color: $color-m1;
  a {
    color: $color-m1; 
    text-underline-offset: 4rem;
  }
  &:hover {
    opacity: 0.6;
  }
}

.btn-login {
  cursor: pointer;
  margin: 0;
  padding: 9rem;
  font-size: 18rem;
  border: 2rem solid $color-m1;
  background-color: $color-m3;
  color: $color-w1;
  &:hover {
    opacity: 0.75;
  }
}
.btn-signup {
  cursor: pointer;
  margin: 0;
  font-size: 18rem;
  padding: 9rem;
  border: 2rem solid $color-m1;
  background-color: $color-w1;
  text-align: center;
  text-decoration: none;
  color: $color-m1;
  &:hover {
    opacity: 0.6;
  }
}

.btn-forget {
  display: block;
  font-size: 15rem; font-weight: 400;
  text-decoration: none;
  color: $color-m1;
  &:hover {
    opacity: 0.6;
  }
}