$color-w1: rgba(255, 255, 255, 1);
$color-w2: rgba(255, 255, 255, 0.95);
$color-w3: rgba(255, 255, 255, 0.75);
$color-w4: rgba(255, 255, 255, 0.6);
$color-w5: rgba(255, 255, 255, 0.45);
$color-w6: rgba(255, 255, 255, 0.3);
$color-w7: rgba(255, 255, 255, 0.15);
$color-w8: rgba(255, 255, 255, 0.05);

$color-k1: rgba(0, 0, 0, 1);
$color-k2: rgba(0, 0, 0, 0.9);
$color-k3: rgba(0, 0, 0, 0.75);
$color-k4: rgba(0, 0, 0, 0.6);
$color-k5: rgba(0, 0, 0, 0.45);
$color-k6: rgba(0, 0, 0, 0.3);
$color-k7: rgba(0, 0, 0, 0.15);
$color-k8: rgba(0, 0, 0, 0.05);

$color-m1: rgba(53, 99, 233, 1);
$color-m2: rgba(53, 99, 233, 0.9);
$color-m3: rgba(53, 99, 233, 0.75);
$color-m4: rgba(53, 99, 233, 0.6);
$color-m5: rgba(53, 99, 233, 0.45);
$color-m6: rgba(53, 99, 233, 0.3);
$color-m7: rgba(53, 99, 233, 0.15);
$color-m8: rgba(53, 99, 233, 0.05);

$color-r1: rgba(255, 0, 0, 1);

$fs-menu1: 16.5rem; // 메뉴1 폰트 사이즈
$fw-menu1: 300; // 메뉴1 폰트 웨이트1 (일반)
$fs-menu2: 15rem; // 드롭 메뉴 폰트 사이즈
$fw-menu2: 300; // 드롭 메뉴 폰트 웨이트2
$fw-menu-active: 500; // 메뉴 active 폰트 웨이트

.btn-1-1 { // Sign in
  cursor: pointer;
  height: 40rem;
  padding: 0 21rem;
  border: 0;
  border-radius: 20rem;
  font-size: 16.5rem;
  font-weight: 400;
  color: $color-w1;
  background-color: $color-m2;
  text-decoration: none;
  display: flex; align-items: center;
  &:hover {
    opacity: 0.75;
  }
}
.btn-1-2 {
  cursor: pointer;
  padding: 9rem 15rem;
  border: 2rem solid $color-m1;
  border-radius: 20rem;
  font-size: 16.5rem;
  color: $color-m1;
  background-color: $color-w1;
  &:hover {
    opacity: 0.75;
  }
}

#btn-my {
  cursor: pointer;
  height: 40rem; width: 40rem;
  border: 0;
  border-radius: 20rem;
  font-size: 16.5rem; font-weight: 400;
  color: $color-w1;
  background-color: $color-m2;
  &:hover {
    opacity: 0.75;
  }
}

.btn-lang {
  display: flex; align-items: center; justify-content: center;
  cursor: pointer;
  img {
    height: 21rem; width: 21rem;
  }
  p {
    margin-left: 9rem;
    font-size: 16.5rem; font-weight: 500;
  }
  &:hover {
    opacity: 0.6;
  }
}

.btn-2-1 { // Index Page Buttons
  cursor: pointer;
  border: 2rem solid $color-m1;
  border-radius: 30rem;
  padding: 12rem;
  font-size: 16rem;
  text-align: center;
  text-decoration: none;
  color: $color-m1;
  background-color: $color-w1;
  &:hover {
    opacity: 0.75;
  }
}
.btn-2-2 { // Index Page Buttons
  cursor: pointer;
  background-color: $color-m3;
  border: 2rem solid $color-m1;
  border-radius: 30rem;
  padding: 12rem;
  font-size: 16rem;
  text-align: center;
  text-decoration: none;
  color: $color-w1;
  &:hover {
    opacity: 0.75;
  }
}

.btn-tab { // LATIDA, EREZ Buttons
  cursor: pointer;
  height: 48rem; width: 330rem;
  border: 2rem solid $color-m1;
  font-size: 18rem;
  color: $color-m1;
  background-color: $color-w1;
  
  transition: 0.1s;
  &.active {
    color: $color-w1;
    background-color: $color-m3;
  }
  &:hover {
    opacity: 0.75;
    text-decoration: underline;
    text-underline-offset: 6rem;
  }
}

.btn-text-1 { // 자료 외부 링크
  cursor: pointer;
  color:$color-m1;
  text-underline-offset: 4rem;
  &:hover {
    opacity: 0.6;
  }
}

.btn-text-2 { // Learn more
  cursor: pointer;
  width: fit-content;
  margin-top: 6rem;
  font-size: 18rem;
  color: $color-m1;
  text-underline-offset: 3rem;
  &:hover {
    opacity: 0.6;
  }
}

.btn-text-3 { // 회사 웹사이트
  color: $color-m1;
  text-decoration: underline;
  text-underline-offset: 4rem;
  &:hover {
    opacity: 0.6;
  }
}