@charset "UTF-8";
@media screen and (max-width: 1280px) { /* 작은 PC : 1px = 0.078125vw */
  html {
    font-size: 0.08vw;
  }
  nav {
    min-width: 100%;
  }
  nav .navigation {
    width: 100%;
  }
  .anchor {
    min-width: 100%;
  }
  .anchor .content {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) { /* 아이패드 가로 : 1px = 0.09vw */
  html {
    font-size: 0.09vw;
  }
  nav .navigation {
    grid-template-columns: 1fr;
    gap: 0;
  }
  nav .navigation .icon-group .icon {
    display: block;
  }
  nav .navigation ul {
    display: none;
  }
  nav.responsive {
    height: 100vh;
  }
  nav.responsive .navigation {
    position: relative;
  }
  nav.responsive .navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30rem;
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
  }
  nav.responsive .navigation ul li {
    font-size: 36rem;
  }
  #certification {
    grid-template-columns: repeat(3, 1fr);
  }
  #rack .container .col1 {
    padding: 30rem 0;
  }
  #rack .container .col1 .row .sub img {
    height: 54rem;
  }
  #rack .container .col1 .row .sub .text-group {
    margin-top: 3rem;
  }
  #rack .container .col1 .row .sub .text-group p {
    margin-top: 3rem;
  }
  #logo-group {
    grid-template-columns: repeat(3, 1fr);
  }
  #logo-group .partner-logo img.lg {
    height: 39rem;
  }
  #logo-group .partner-logo img.asml {
    height: 33rem;
  }
  #logo-group .partner-logo img.doosan {
    height: 24rem;
  }
  #logo-group .partner-logo img.honeywell {
    height: 30rem;
  }
  #logo-group .partner-logo img.valeo {
    height: 39rem;
  }
  #logo-group .partner-logo img.hyundai {
    height: 27rem;
  }
  #logo-group .partner-logo img.hynix {
    height: 48rem;
  }
  #logo-group .partner-logo img.swatch {
    height: 27rem;
  }
  #logo-group .partner-logo img.krri {
    height: 21rem;
  }
  #logo-group .partner-logo img.ex {
    height: 21rem;
  }
  #logo-group .partner-logo img.defense {
    height: 36rem;
  }
  #logo-group .partner-logo img.kepco {
    height: 24rem;
  }
  #logo-group .partner-logo img.hongik {
    height: 36rem;
  }
  #logo-group .partner-logo img.hanyang {
    height: 39rem;
  }
  #logo-group .partner-logo img.pec {
    height: 39rem;
  }
  #logo-group .partner-logo img.ajin {
    height: 21rem;
  }
  #logo-group .partner-logo img.ni {
    height: 36rem;
  }
  #logo-group .partner-logo img.hexagon {
    height: 45rem;
  }
  #logo-group .partner-logo img.krri-en {
    height: 36rem;
  }
  #logo-group .partner-logo img.ex-en {
    height: 27rem;
  }
  #logo-group .partner-logo img.defense-en {
    height: 33rem;
  }
  #logo-group .partner-logo img.kepco-en {
    height: 33rem;
  }
  #logo-group .partner-logo img.hongik-en {
    height: 24rem;
  }
  #logo-group .partner-logo img.hanyang-en {
    height: 36rem;
  }
}
@media screen and (max-width: 768px) { /* 아이패드 세로, 갤럭시 폴드 펼쳤을때 세로 : 1px = 0.12vw */
  .off-768 {
    display: none;
  }
  html {
    font-size: 0.12vw;
  }
  .anchor .content .title-group {
    text-align: center;
  }
  .anchor .content .title-group h2 {
    font-weight: 700;
  }
  .anchor .content .title-group p {
    font-weight: 500;
  }
  #footer .info h2 {
    font-weight: 700;
  }
  #footer .info .address {
    font-weight: 400;
  }
  #footer .info .contact-group .contact {
    font-weight: 400;
  }
  #footer .info .contact-group .contact span {
    font-weight: 500;
  }
  #footer .copyright {
    font-weight: 400;
  }
  #certification .sub p {
    font-weight: 500;
  }
  #diagram1 {
    grid-template-columns: 1fr;
    gap: 60rem;
    text-align: center;
  }
  #diagram1 .sub {
    padding: 0;
    border-right: 0;
  }
  #diagram1 .sub .text-group h3 {
    font-weight: 700;
  }
  #diagram1 .sub .text-group p {
    font-weight: 400;
  }
  #diagram2 {
    grid-template-columns: 1fr;
    gap: 60rem;
    text-align: center;
  }
  #diagram2 .sub {
    padding: 0;
    background-image: none;
  }
  #diagram2 .sub .text-group h3 {
    font-weight: 700;
  }
  #diagram2 .sub .text-group p {
    font-weight: 400;
  }
  #rack .container {
    min-width: 1080rem;
  }
  #rack .container .col1 .row .sub .text-group h3 {
    font-weight: 700;
  }
  #rack .container .col1 .row .sub .text-group p {
    font-weight: 400;
  }
  #slider {
    flex-direction: column;
    height: 600rem;
  }
  #slider .slides .text-group h3 {
    font-weight: 700;
  }
  #slider .slides .text-group p {
    font-weight: 400;
  }
  #tab {
    grid-template-columns: auto;
  }
  #tab .col1 {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  #tab .col1 hr {
    display: none;
  }
  #tab .col1 .sub {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #tab .col1 .sub .text-group h3 {
    font-weight: 700;
  }
  #tab .col1 .sub .text-group p {
    font-weight: 400;
  }
  #tab .col1 .sub .text-group .link {
    font-weight: 500;
  }
  #tab .col2 .slides {
    height: 400rem;
  }
  #down {
    grid-template-columns: 1fr;
  }
  #down a {
    font-weight: 700;
  }
}
@media screen and (max-width: 450px) { /* 스마트폰 화면 : 1px = 0.2vw */
  .off-450 {
    display: none;
  }
  html {
    font-size: 0.21vw;
  }
  nav .navigation {
    padding: 0 21rem;
  }
  .anchor .content {
    padding: 120rem 21rem;
  }
  #rack .container {
    min-width: 960rem;
  }
  #certification {
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
  }
  #slider .slides.active .text-group {
    padding: 21rem;
  }
  #logo-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
  }
  #logo-group .partner-logo img.lg {
    height: 36rem;
  }
  #logo-group .partner-logo img.asml {
    height: 30rem;
  }
  #logo-group .partner-logo img.doosan {
    height: 21rem;
  }
  #logo-group .partner-logo img.honeywell {
    height: 27rem;
  }
  #logo-group .partner-logo img.valeo {
    height: 36rem;
  }
  #logo-group .partner-logo img.hyundai {
    height: 24rem;
  }
  #logo-group .partner-logo img.hynix {
    height: 45rem;
  }
  #logo-group .partner-logo img.swatch {
    height: 24rem;
  }
  #logo-group .partner-logo img.krri {
    height: 18rem;
  }
  #logo-group .partner-logo img.ex {
    height: 18rem;
  }
  #logo-group .partner-logo img.defense {
    height: 33rem;
  }
  #logo-group .partner-logo img.kepco {
    height: 21rem;
  }
  #logo-group .partner-logo img.hongik {
    height: 33rem;
  }
  #logo-group .partner-logo img.hanyang {
    height: 36rem;
  }
  #logo-group .partner-logo img.pec {
    height: 33rem;
  }
  #logo-group .partner-logo img.ajin {
    height: 18rem;
  }
  #logo-group .partner-logo img.ni {
    height: 33rem;
  }
  #logo-group .partner-logo img.hexagon {
    height: 42rem;
  }
  #logo-group .partner-logo img.krri-en {
    height: 33rem;
  }
  #logo-group .partner-logo img.ex-en {
    height: 24rem;
  }
  #logo-group .partner-logo img.defense-en {
    height: 30rem;
  }
  #logo-group .partner-logo img.kepco-en {
    height: 30rem;
  }
  #logo-group .partner-logo img.hongik-en {
    height: 21rem;
  }
  #logo-group .partner-logo img.hanyang-en {
    height: 33rem;
  }
}/*# sourceMappingURL=media.css.map */